Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

feat: insert recovery field to gtp-u header
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
  scripts/scapy/GTPEcho.py
Owners: @pirog-spb, @marknefedov

deploy: split open5gs docker compose config files (#13)
  docs/deployments/open5gs-compose-separated/.deploy/docker/amf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/iperf-test.sh
  docs/deployments/open5gs-compose-separated/.deploy/docker/mongodb/init.js
  docs/deployments/open5gs-compose-separated/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf1.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf2.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/upf.yaml
  docs/deployments/open5gs-compose-separated/.env
  docs/deployments/open5gs-compose-separated/.gitignore
  docs/deployments/open5gs-compose-separated/Makefile
  docs/deployments/open5gs-compose-separated/README.md
  docs/deployments/open5gs-compose-separated/docker-compose.core.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.eupf.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.gnb.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.infra.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue1.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue2.yaml
  docs/deployments/open5gs-compose-separated/fw.sh
  docs/deployments/open5gs-compose/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/smf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

feat: huawei sdf filter support for IMS
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

fix typo
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

feat: filter session by network instance
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

feat: session tracing support
  .gitignore
  cmd/api/rest/handler.go
  cmd/api/rest/subscriber_tracing.go
  cmd/core/huawei_utils.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/core/tracing/simple_trace_storage.go
  cmd/core/tracing/trace_storage.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/packet_trace.h
  cmd/main.go
  cmd/utils/packet_dumper.go
  docs/api.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: recognize UEIPAddress in UpdatePDR
  cmd/core/pdr_creation_context.go
  cmd/core/pdr_creation_context_test.go
Owners: @pirog-spb, @marknefedov

test: fix unit-tests and auto-tests (#23)
  .github/workflows/loadtest.yml
  .gitignore
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/uplink_pdr.go
  cmd/ebpf/objects_test.go
  go.mod
  go.sum
  robot/Loadtest.robot
  trivy.yaml
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

xdp: Rename GTPU[IPv4+TEID]->PDR map
  cmd/api/rest/uplink_pdr.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

refactor(pfcp): Improve logging and error handling during session create/modify/delete
  cmd/core/pdr.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: add subscriber signalling trace
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  cmd/utils/packet_dumper.go
  cmd/utils/packet_dumper_test.go
  cmd/utils/test.pcap
Owners: @pirog-spb, @marknefedov

refactor(xdp): rename GTPU[IPv4+TEID]->PDR map (#593)
  cmd/api/rest/uplink_pdr.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

refactor(pfcp): Improve logging and error handling during session create/modify/delete (#592)
  cmd/core/pdr.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: recognize UEIPAddress in UpdatePDR (#591)
  cmd/core/pdr_creation_context.go
  cmd/core/pdr_creation_context_test.go
Owners: @pirog-spb, @marknefedov

fix buildx action
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

build: fix github buildx action crash (#599)
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

fix qer updating of window_start enforecement of rate limiting
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

fix: start window modification during qer rate limiting (#596)
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

feat: huawei mode for compose far info function (#35)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: add pfcp association status monitoring (#36)
  cmd/core/metrics.go
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

feat: hotchange api config (#34)
  cmd/api/rest/config.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/schemas.go
  cmd/api/rest/subscriber_tracing.go
  cmd/config/config.go
  cmd/core/config_edit.go
  cmd/core/gtp_path_manager.go
  cmd/core/logger.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

fix: resolve remote node hostname (#43)
  cmd/core/config_edit.go
  cmd/core/pfcp_connection.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

deploy: 4g core with eUPF (#47)
  docs/deployments/open5gs-compose-4g/.env
  docs/deployments/open5gs-compose-4g/README.md
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
  docs/deployments/open5gs-compose-4g/srslte/enb_zmq.conf
Owners: @ewdss

deploy: remove unhelpful envs (#49)
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
Owners: @ewdss

remove NodeID from PFCP SessionModificationRequest and SessionDeletionRequest
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: implement save and remove functionality for PCC rules (#39)
  .github/workflows/loadtest.yml
  .gitignore
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/uplink_pdr.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  docs/deployments/open5gs-compose/README.md
  docs/deployments/open5gs-compose/fw.sh
  go.mod
  go.sum
  robot/Loadtest.robot
  trivy.yaml
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

feat: add pcc rule config (#40)
  cmd/config/config.go
  cmd/config/config_test.go
  cmd/config/startup.go
  cmd/core/config_edit.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/sdf_filter_parser.go
  cmd/core/session.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  docs/deployments/open5gs-compose-4g/srslte/Dockerfile
  docs/deployments/open5gs-compose-4g/srslte/enb.conf
  docs/deployments/open5gs-compose-4g/srslte/enb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/gnb.conf
  docs/deployments/open5gs-compose-4g/srslte/gnb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/rb_enb.conf
  docs/deployments/open5gs-compose-4g/srslte/rb_enb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/rb_gnb.conf
  docs/deployments/open5gs-compose-4g/srslte/rb_gnb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/rr_enb.conf
  docs/deployments/open5gs-compose-4g/srslte/rr_enb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/rr_gnb.conf
  docs/deployments/open5gs-compose-4g/srslte/rr_gnb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/sib_enb.conf
  docs/deployments/open5gs-compose-4g/srslte/sib_enb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/sib_gnb.conf
  docs/deployments/open5gs-compose-4g/srslte/sib_gnb_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/srslte_init.sh
  docs/deployments/open5gs-compose-4g/srslte/ue_5g_zmq.conf
  docs/deployments/open5gs-compose-4g/srslte/ue_zmq.conf
  docs/deployments/open5gs-compose/.DS_Store
  docs/deployments/open5gs-compose/README.md
  go.mod
  go.sum
  stub/pcc/test/pcc.yaml
Owners: @pirog-spb, @marknefedov, @ewdss

fix: remove NodeID from PFCP SessionModification and SessionDeletion response (#601)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: variable sdf list in pdr (#44)
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/sdf_filter.h
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

fix: wrong ip6 SDF filters matching (#57)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/sdf_filter.h
  cmd/ebpf/xdp/utils/types.h
Owners: @pirog-spb, @marknefedov

fix: remove NodeID comments (#58)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: add session report by PCC urr (#42)
  .gitattributes
  .github/workflows/test.yml
  cmd/config/config.go
  cmd/core/config_edit.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/main.go
  docs/deployments/oai-nfapi-sim-compose/README.md
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
  docs/deployments/oai-nfapi-sim-compose/nat/Dockerfile
  docs/deployments/open5gs-compose/README.md
  docs/deployments/open5gs-compose/docker-compose.yaml
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/eupf_3gpp_compatibility.md
  go.mod
  go.sum
  stub/pcc/test/pcc.yaml
Owners: @pirog-spb, @marknefedov, @mbaran0v, @PapaySail, @ewdss

fix: configure huawei node id and ip suite name (#59)
  cmd/core/huawei_utils.go
  cmd/core/huawei_utils_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix build
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix crash on nil pointer to resource manager
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

fix: ip4 and ip6 sdf matching (#60)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/sdf_filter.h
Owners: @pirog-spb, @marknefedov

fix: debug huawei branch (#64)
  cmd/core/display_utils.go
  cmd/core/logger.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix: config bug (#63)
  cmd/config/config.go
  cmd/core/pfcp_session_handlers.go
  stub/pcc/test/pcc.yaml
Owners: @pirog-spb, @marknefedov

fix: 4G core docker compose dependency (#62)
  docs/deployments/open5gs-compose-4g/.gitignore
  docs/deployments/open5gs-compose-4g/README.md
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
  docs/deployments/open5gs-compose-4g/docker-compose.yaml
  docs/deployments/open5gs-compose-4g/srslte/srslte_init.sh
Owners: @ewdss

fix: sync far qer urr
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov
