Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

add vendor specific ies to session report
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix saving previous value of urr
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

use common seq num for all URRs in session
  cmd/core/pfcp_connection.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

refactor packet dumper
  cmd/main.go
  cmd/utils/packet_dumper.go
Owners: @pirog-spb, @marknefedov

enable packet tracer
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

refactor
  cmd/ebpf/xdp/utils/packet_trace.h
  cmd/utils/packet_dumper.go
Owners: @pirog-spb, @marknefedov

docs: Fix wrong config value s/offloaded/offload
  docs/Configuration.md
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/install.md
Owners: @ewdss

docs: fix wrong xdp mode config value (#575)
  docs/Configuration.md
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/install.md
Owners: @ewdss

docs(README.md): Fix typo in text
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

fix(pdr): Fix typo in log message
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix(xdp): Fix wrong UDP checksum in proxied GTPv1U packets
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

style: Fix trailing whitespace in several files
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

style: fix trailing whitespace in several files (#576)
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

docs: fix typo in README.md text (#578)
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

fix: typo in PDR management log message (#579)
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix: wrong UDP checksum in proxied GTPv1U packets (#580)
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

style(docs): fix trailing whitespace in several files
  README.md
  docs/api.md
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/readme.md
  docs/install.md
Owners: @ewdss

feat: Support configuring local IP address for N9 interface
  README.md
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/main.go
  docs/Configuration.md
  docs/api.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-compose/docker-compose.eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/eupf.yaml
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/readme.md
  docs/install.md
Owners: @ewdss, @pirog-spb, @marknefedov

feat: Support configuring local IP address for N9 interface
  README.md
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/main.go
  docs/Configuration.md
  docs/api.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-compose/docker-compose.eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/eupf.yaml
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/readme.md
  docs/install.md
Owners: @ewdss, @pirog-spb, @marknefedov

style(docs): fix trailing whitespace in several files (#582)
  README.md
  docs/api.md
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/readme.md
  docs/install.md
Owners: @ewdss

feat: add simple association update support
  cmd/core/display_utils.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  docs/eupf_3gpp_compatibility.md
Owners: @pirog-spb, @marknefedov, @ewdss

add packet metrics gathering
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

use delta only for prometheus
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

fix: add packet metrics gathering
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

fix: packet metrics gathering (#584)
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

set N9 address default value to N3 address
  README.md
  cmd/config/config.go
  cmd/core/pfcp_session_handlers.go
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-compose/docker-compose.eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp/values/eupf.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/eupf.yaml
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/install.md
Owners: @ewdss, @pirog-spb, @marknefedov

refactoring
  cmd/config/config.go
  docs/Configuration.md
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/readme.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: support configuring local IP address for N9 interface with N3 address by default (#585)
  README.md
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/main.go
  docs/Configuration.md
  docs/api.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss, @pirog-spb, @marknefedov

feat: support configuring local IP address for N9 interface with N3 address by default (#585)
  README.md
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/main.go
  docs/Configuration.md
  docs/api.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss, @pirog-spb, @marknefedov

Split Open5gs Docker Compose config files
  docs/deployments/open5gs-compose-separated/.deploy/docker/amf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/iperf-test.sh
  docs/deployments/open5gs-compose-separated/.deploy/docker/mongodb/init.js
  docs/deployments/open5gs-compose-separated/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf1.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf2.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/upf.yaml
  docs/deployments/open5gs-compose-separated/.env
  docs/deployments/open5gs-compose-separated/.gitignore
  docs/deployments/open5gs-compose-separated/Makefile
  docs/deployments/open5gs-compose-separated/README.md
  docs/deployments/open5gs-compose-separated/docker-compose.core.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.eupf.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.gnb.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.infra.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue1.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue2.yaml
  docs/deployments/open5gs-compose-separated/fw.sh
  docs/deployments/open5gs-compose/.deploy/docker/smf.yaml
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

Add Dockerfile for eupf on arm64/aarch64
  Dockerfile.arm64
Owners: @pirog-spb, @marknefedov

Add patch for default eupf cmd config [issue #587]
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

Add patch for default eupf cmd config
  .gitignore
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

deployment config refactor
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @ewdss

Add patch for default eupf cmd config [issue #587]
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

deploy: split open5gs docker compose config files (#13)
  docs/deployments/open5gs-compose-separated/.deploy/docker/amf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/iperf-test.sh
  docs/deployments/open5gs-compose-separated/.deploy/docker/mongodb/init.js
  docs/deployments/open5gs-compose-separated/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf1.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/smf2.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose-separated/.deploy/docker/upf.yaml
  docs/deployments/open5gs-compose-separated/.env
  docs/deployments/open5gs-compose-separated/.gitignore
  docs/deployments/open5gs-compose-separated/Makefile
  docs/deployments/open5gs-compose-separated/README.md
  docs/deployments/open5gs-compose-separated/docker-compose.core.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.eupf.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.gnb.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.infra.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue1.yaml
  docs/deployments/open5gs-compose-separated/docker-compose.ue2.yaml
  docs/deployments/open5gs-compose-separated/fw.sh
  docs/deployments/open5gs-compose/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/smf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

feat: insert recovery field to gtp-u header
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
  scripts/scapy/GTPEcho.py
Owners: @pirog-spb, @marknefedov

feat: huawei spgw-c support (#2)
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/huawei_utils.go
  cmd/core/huawei_utils_test.go
  cmd/core/ie_overwrite_test.go
  cmd/core/metrics.go
  cmd/core/node_association.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/utils.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/urr.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/packet_trace.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/trace.h
  cmd/main.go
  cmd/utils/packet_dumper.go
Owners: @pirog-spb, @marknefedov

doc: update readme of open5gs sample deployment
  docs/deployments/open5gs-compose/README.md
  docs/deployments/open5gs-compose/fw.sh
Owners: @ewdss

Add patch for default eupf cmd config [issue #587]
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
