Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

feat: ue ip test
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: ue ip
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  pytest/test_session.py
  robot/Loadtest.robot
  robot/Scenario-0.robot
  scripts/.gitignore
  scripts/scapy/.gitignore
  scripts/scapy/Ipv6Sessionestablishment.py
  scripts/scapy/SessionDeletionRequest.py
  scripts/scapy/SessionEstablishmentRequest.py
  scripts/scapy/SessionModificationRequest.py
Owners: @pirog-spb, @marknefedov

fix: release resources
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix: release resources
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

fix: release resources
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

fix: release resources
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

fix: release resources
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

fix: release resources
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

fix: recovering erroneously deleted files
  robot/Loadtest.robot
  robot/Scenario-0.robot
  scripts/.gitignore
  scripts/scapy/.gitignore
  scripts/scapy/Ipv6Sessionestablishment.py
  scripts/scapy/SessionDeletionRequest.py
  scripts/scapy/SessionEstablishmentRequest.py
  scripts/scapy/SessionModificationRequest.py
Owners: @pirog-spb, @marknefedov

improvements based on comments
  Dockerfile
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  Dockerfile
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix lint
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: set UEIP flag and allocate IP
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

feat: setting the FTUP flag and allocation of TEID (#476)
  cmd/config/config.go
  cmd/core/api.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
  cmd/core/service/resource_manager.go
  cmd/core/service/resource_manager_test.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/pdr.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

f
  Dockerfile
Owners: @pirog-spb, @marknefedov

f
  .trivyignore
Owners: @pirog-spb, @marknefedov

f
  docs/deployments/oai/Makefile
  docs/deployments/oai/README.md
  docs/deployments/oai/charts/oai-gnb/.helmignore
  docs/deployments/oai/charts/oai-gnb/Chart.yaml
  docs/deployments/oai/charts/oai-gnb/resources/gnb.conf.tmpl
  docs/deployments/oai/charts/oai-gnb/templates/_helpers.tpl
  docs/deployments/oai/charts/oai-gnb/templates/configmap.yaml
  docs/deployments/oai/charts/oai-gnb/templates/deployment.yaml
  docs/deployments/oai/charts/oai-gnb/templates/service.yaml
  docs/deployments/oai/charts/oai-gnb/templates/serviceaccount.yaml
  docs/deployments/oai/charts/oai-gnb/values.yaml
  docs/deployments/oai/charts/oai-nr-ue/.helmignore
  docs/deployments/oai/charts/oai-nr-ue/Chart.yaml
  docs/deployments/oai/charts/oai-nr-ue/resources/ue.conf.tmpl
  docs/deployments/oai/charts/oai-nr-ue/templates/_helpers.tpl
  docs/deployments/oai/charts/oai-nr-ue/templates/configmap.yaml
  docs/deployments/oai/charts/oai-nr-ue/templates/deployment.yaml
  docs/deployments/oai/charts/oai-nr-ue/templates/serviceaccount.yaml
  docs/deployments/oai/charts/oai-nr-ue/values.yaml
  docs/deployments/oai/schema.png
  docs/deployments/oai/values/gnb.yaml
  docs/deployments/oai/values/ue.yaml
  docs/deployments/open5gs-with-oai/Makefile
  docs/deployments/open5gs-with-oai/README.md
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/gnb.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue.conf.tmpl
  docs/deployments/open5gs-with-oai/manifests/calico-bgp.yaml
  docs/deployments/open5gs-with-oai/manifests/calico-pools.yaml
  docs/deployments/open5gs-with-oai/manifests/smf-configmap.yaml
  docs/deployments/open5gs-with-oai/values/eupf.yaml
  docs/deployments/open5gs-with-oai/values/main.yaml
  docs/deployments/open5gs-with-oai/values/old/gnb.yaml
  docs/deployments/open5gs-with-oai/values/old/ue.yaml
  docs/deployments/open5gs-with-oai/values/smf.yaml
  docs/deployments/open5gs-with-oai/values/ue.yaml
  docs/deployments/open5gs-with-oai/values/upf.yaml
Owners: @ewdss

fix: name for metrics on dashboard Open5GS Sessions
  .deploy/grafana/open5gs_sessions.json
Owners: @mbaran0v, @PapaySail

add driver support chapter
  docs/install.md
Owners: @ewdss

f
  docs/deployments/README.md
Owners: @ewdss

f
  docs/deployments/README.md
Owners: @ewdss

fix: fix PDR removal for teid, fix sending heartbeats
  Dockerfile
  cmd/core/node_association.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/service/resource_manager.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

docs: add driver support chapter (#503)
  docs/install.md
Owners: @ewdss

add recovery ts in association response
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

fix wrong `dev eth1` in `ip route add` command
  docs/deployments/oai-nfapi-sim-compose/eupf/entrypoint.sh
Owners: @ewdss

some edits
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

remove wrong `dev eth1` in `ip route ` in script for nat
  docs/deployments/oai-nfapi-sim-compose/nat/busy-poll.sh
Owners: @ewdss

eupf --feature_ftup true oai-smf:v1.5.1
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
Owners: @ewdss

feat: delete an association when the limit of unanswered heartbeats is reached
  Dockerfile
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

delete artefact
  Dockerfile
Owners: @pirog-spb, @marknefedov

feat: delete an association when the limit of unanswered heartbeats is reached
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

feat: delete an association when the limit of unanswered heartbeats is reached
  Dockerfile
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

preventive error fix
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  Dockerfile
  cmd/config/config.go
  cmd/core/service/resource_manager.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

improvements based on comments
  Dockerfile
Owners: @pirog-spb, @marknefedov
