Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

test
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fixes for job -xdp-programm-install
  .deploy/helm/eupf/templates/job.yaml
  .deploy/helm/eupf/values.yaml
  docs/examples/open5gs/eupf-host-nat.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

use gin cors middleware
  cmd/core/api.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

srsran gnb helmcharts
  docs/deployments/srsran-gnb/Chart.yaml
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
  docs/deployments/srsran-gnb/templates/NOTES.txt
  docs/deployments/srsran-gnb/templates/_helpers.tpl
  docs/deployments/srsran-gnb/templates/configmap.yaml
  docs/deployments/srsran-gnb/templates/registry-secret.yaml
  docs/deployments/srsran-gnb/templates/statefulset.yaml
  docs/deployments/srsran-gnb/values.schema.json
  docs/deployments/srsran-gnb/values.yaml
Owners: @ewdss

polished due to comments
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/netad-ueransim.yaml
Owners: @ewdss

trivyignore AVD-KSV-0117
  .trivyignore
Owners: @pirog-spb, @marknefedov

.trivyignore AVD-KSV-0117
  .trivyignore
Owners: @pirog-spb, @marknefedov

feat: allow all origins for access API (CORS) (#409)
  cmd/core/api.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

deploy: free5gc-ulcl
  .trivyignore
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/README.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/free5gc.yaml
  docs/deployments/free5gc-ulcl/global.yaml
  docs/deployments/free5gc-ulcl/netad-ueransim.yaml
  docs/deployments/free5gc-ulcl/upf.yaml
  docs/examples/free5gc/openverso-gnb-ues-values.yaml
Owners: @pirog-spb, @marknefedov, @ewdss

f
  docs/deployments/README.md
  docs/install.md
Owners: @ewdss

f
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/README.md
Owners: @ewdss

restore lost text. Stylish fixes.
  docs/deployments/README.md
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/README.md
  docs/install.md
Owners: @ewdss

Kubenetes environment: enabling-unsafe-sysctls
  docs/install.md
Owners: @ewdss

feat: add packet statistic api
  cmd/core/api.go
Owners: @pirog-spb, @marknefedov

add script to set physical network interface name as a MACVLAN master interface. see issue #411
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-with-bgp/Makefile
Owners: @ewdss

feat: add packet statistic api
  cmd/core/api.go
Owners: @pirog-spb, @marknefedov

remove deprecated text about IP Masquerade Agent.
  docs/deployments/README.md
Owners: @ewdss

f
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/free5gc-with-bgp/values/global.yaml
Owners: @ewdss

f
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/open5gs-with-bgp/README.md
Owners: @ewdss

f
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/README.md
Owners: @ewdss

deploy: fixes for job -xdp-programm-install (#402)
  .deploy/helm/eupf/templates/job.yaml
  .deploy/helm/eupf/values.yaml
  docs/examples/open5gs/eupf-host-nat.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

f
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/resources/gnb_zmq.yaml
  docs/deployments/srsran-gnb/templates/configmap.yaml
  docs/deployments/srsran-gnb/templates/statefulset.yaml
  docs/deployments/srsran-gnb/values.yaml
Owners: @ewdss

readme.md created
  docs/deployments/srsran-gnb/Chart.yaml
  docs/deployments/srsran-gnb/README.md
Owners: @ewdss

Updated install.md
  docs/install.md
Owners: @ewdss

Updated docker-compose deployment description in install.md
  docs/install.md
Owners: @ewdss

Added that GTP5G kernel module is optional during docker-compose deployment in install.md
  docs/install.md
Owners: @ewdss

add eupf ui as sidecar container to eupf
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/helpers/_pod.tpl
  docs/examples/open5gs/eupf-container-nat.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

Updated install.md according to Alexander's comments
  docs/install.md
Owners: @ewdss

feat: add BPF_CFLAGS to Dockerfile
  Dockerfile
  README.md
Owners: @pirog-spb, @marknefedov, @ewdss

Added additional info to install.md
  docs/install.md
Owners: @ewdss

f
  Dockerfile
  README.md
Owners: @pirog-spb, @marknefedov, @ewdss

Added N3 and N6 counter
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/statistics.h
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

fix: disable remove external routes by Felix
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/open5gs-with-bgp-and-slices/Makefile
  docs/deployments/open5gs-with-bgp/Makefile
Owners: @ewdss

add eupf ui as sidecar container to eupf
  docs/deployments/open5gs-with-bgp/Makefile
  docs/deployments/open5gs-with-bgp/values/eupf.yaml
Owners: @ewdss

define default settings for ui app
  .deploy/helm/eupf/values.yaml
  docs/deployments/open5gs-with-bgp/values/eupf.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

docs: add info about Felix configuration
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/README.md
Owners: @ewdss

feat: update grafana dashboards
  .deploy/grafana/eupf.json
  .deploy/grafana/eupf_dashboard.json
  .deploy/grafana/open5gs_sess_dashboard.json
  .deploy/grafana/open5gs_sessions.json
  .deploy/grafana/ue_latency_by_bb.json
  .deploy/grafana/ue_latency_by_mtr.json
Owners: @mbaran0v, @PapaySail

feat: store sdf filter inside i-eupf
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

Initialized n3_n6_counter structure in pakcet_context
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

refactor: use regexp to parse sdf filter
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov
