Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

a bunch of refactoring
  cmd/eupf/xdp/ip_entrypoint.c
  cmd/eupf/xdp/n3_entrypoint.c
Owners: @pirog-spb, @marknefedov

a bunch of refactoring
  cmd/eupf/ebpf_objects.go
  cmd/eupf/xdp/gtp_entrypoint.c
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/gtpu.h
  cmd/eupf/xdp/utils/packet_context.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

Restrucured: docker run to Quick start guide
  README.md
Owners: @ewdss

f
  docs/examples/open5gs/eupf-container-nat.yaml
  docs/examples/open5gs/iperf.yaml
  docs/examples/open5gs/nat.yaml
  docs/load-testing.md
Owners: @ewdss

f
  docs/load-testing.md
Owners: @ewdss

f
  docs/load-testing.md
Owners: @ewdss

f
  docs/load-testing.md
Owners: @ewdss

f
  docs/load-testing.md
Owners: @ewdss

Updated readme, moved swagger generation to go:generate declaration, … (#177)
  .github/workflows/test.yml
  Dockerfile
  README.md
  cmd/eupf/api.go
  docs/api.md
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

f
  docs/examples/free5gc/eupf-container-nat.yaml
  docs/examples/free5gc/eupf-host-nat.yaml
  docs/examples/free5gc/iperf.yaml
  docs/examples/free5gc/nat.yaml
  docs/examples/load-testing/nginx.yaml
  docs/examples/load-testing/script.js
  docs/examples/open5gs/eupf-container-nat.yaml
  docs/install.md
  docs/load-testing.md
Owners: @ewdss

f
  docs/examples/free5gc/iperf.yaml
Owners: @ewdss

f
  docs/load-testing.md
Owners: @ewdss

f
  docs/examples/open5gs/iperf.yaml
Owners: @ewdss

f
  docs/examples/free5gc/iperf.yaml
Owners: @ewdss

f
  .trivyignore
Owners: @pirog-spb, @marknefedov

Added some tests and fix nil dereference.
  cmd/eupf/display_utils.go
  cmd/eupf/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

hostname to ip
  .deploy/helm/values/test.yaml
Owners: @mbaran0v, @PapaySail

hostname to ip
  .deploy/helm/values/dev.yaml
Owners: @mbaran0v, @PapaySail

removed redundant print.
  cmd/eupf/display_utils.go
Owners: @pirog-spb, @marknefedov

Revert "hostname to ip"
  .deploy/helm/values/dev.yaml
Owners: @mbaran0v, @PapaySail

Revert "hostname to ip"
  .deploy/helm/values/test.yaml
Owners: @mbaran0v, @PapaySail

Unpin and close map, as I understood it will be GCed when kernel decides to do so.
  cmd/eupf/ebpf_objects.go
Owners: @pirog-spb, @marknefedov

Added some tests and fix nil dereference. (#210)
  cmd/eupf/display_utils.go
  cmd/eupf/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

179 eupf duplicates pfcp messages in logs (#211)
  cmd/eupf/display_utils.go
Owners: @pirog-spb, @marknefedov

Display Transport level marking IE.
  cmd/eupf/display_utils.go
Owners: @pirog-spb, @marknefedov

feat: build on tags
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

f
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

f
  .github/workflows/build.yml
  README.md
Owners: @mbaran0v, @PapaySail, @ewdss

feat(PCP): Add Transport Level Marking support.
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

fix parser, improve stat counting, rename methods
  cmd/eupf/xdp/ip_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/common.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

rename entrypoints
  cmd/eupf/ebpf_objects.go
  cmd/eupf/xdp/n3_entrypoint.c
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add functions for remove and add gtp header
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/packet_context.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

implement n6->n3 ip6 qer and routing
  cmd/eupf/xdp/n3_entrypoint.c
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

apply outer header creation properly
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

update statistic api implementation
  cmd/eupf/api.go
  cmd/eupf/ebpf_stats.go
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/statistics.h
Owners: @pirog-spb, @marknefedov

feat(ebpf): Put DSCP value in the IPv4 Type-of-Service
  cmd/eupf/xdp/ip_entrypoint.c
Owners: @pirog-spb, @marknefedov

ebpf verifier defeated
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/packet_context.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fix runtime issues
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

restore ip6 n6->n3 processing
  cmd/eupf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add ip6 routing n3->n6
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov
