Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

fix: sync far/qer/urr ids management (#603)
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix: wrong internal ids
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

test: script max enb (#68)
  scripts/enb-load-test/README.md
  scripts/enb-load-test/config.yaml
  scripts/enb-load-test/docker-compose.yaml
  scripts/enb-load-test/enb-emulator/Dockerfile
  scripts/enb-load-test/enb-emulator/go.mod
  scripts/enb-load-test/enb-emulator/go.sum
  scripts/enb-load-test/enb-emulator/main.go
Owners: @ewdss, @pirog-spb, @marknefedov

feat: add handler session report response (#69)
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

fix: wrong id while deleting far/qer/urr (#604)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: add config logger caller (#71)
  cmd/api/rest/config.go
  cmd/api/rest/handler.go
  cmd/api/rest/schemas.go
  cmd/config/config.go
  cmd/core/config_edit.go
  cmd/core/logger.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

docs: remove Russian documentation
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/oai/schema.png
  docs/docs-ru_ru/deployments/open5gs-compose/.DS_Store
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/schema.png
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/schema.png
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/metrics.md
  docs/docs-ru_ru/possible_usage.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

fix: parse tcp header
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

pref: optimize dockerfile before coping files (#73)
  Dockerfile
Owners: @pirog-spb, @marknefedov

fix: always parse TCP header in order to SDF filters work (#606)
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

docs: remove obsolete documentation in Russian (#605)
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/oai/schema.png
  docs/docs-ru_ru/deployments/open5gs-compose/.DS_Store
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/schema.png
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/schema.png
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/metrics.md
  docs/docs-ru_ru/possible_usage.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

fix: always parse TCP header in order to SDF filters work (#606)
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

test with sign-off-by
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add N3 and N9 address check and unit test
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

docs: remove obsolete documentation in Russian (#605)
  docs/docs-ru_ru/Configuration.md
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/oai/schema.png
  docs/docs-ru_ru/deployments/open5gs-compose/.DS_Store
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/schema.png
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/schema.png
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/schema.png
  docs/docs-ru_ru/install.md
  docs/docs-ru_ru/metrics.md
  docs/docs-ru_ru/possible_usage.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

add global dataplane config
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

add contributing guide
  CONTRIBUTING.md
  README.md
Owners: @pirog-spb, @marknefedov, @ewdss

docs: add contribution guide (#611)
  CONTRIBUTING.md
  README.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: incorrect handling of dl ue udp traffic with dst port 2152 (#607)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

Update LICENSE
  LICENSE
Owners: @pirog-spb, @marknefedov

Update urr.h
  cmd/ebpf/xdp/urr.h
Owners: @pirog-spb, @marknefedov

Update icmp.h
  cmd/ebpf/xdp/utils/icmp.h
Owners: @pirog-spb, @marknefedov

Update gtpu.h
  cmd/ebpf/xdp/utils/gtpu.h
Owners: @pirog-spb, @marknefedov

Update pdr.h
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

Update packet_context.h
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

Update zero_entrypoint.c
  cmd/ebpf/xdp/zero_entrypoint.c
Owners: @pirog-spb, @marknefedov

Update qer.h
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

Update program_array.h
  cmd/ebpf/xdp/program_array.h
Owners: @pirog-spb, @marknefedov

Update types.h
  cmd/ebpf/xdp/utils/types.h
Owners: @pirog-spb, @marknefedov

Update gtp_utils.h
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

Update parsers.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Update common.h
  cmd/ebpf/xdp/utils/common.h
Owners: @pirog-spb, @marknefedov

Update csum.h
  cmd/ebpf/xdp/utils/csum.h
Owners: @pirog-spb, @marknefedov

Update objects_test.go
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

Update n6_entrypoint.c
  cmd/ebpf/xdp/n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Update trace.h
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

Update statistics.h
  cmd/ebpf/xdp/statistics.h
Owners: @pirog-spb, @marknefedov

Update n3n6_entrypoint.c
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Update sdf_filter.h
  cmd/ebpf/xdp/sdf_filter.h
Owners: @pirog-spb, @marknefedov

chore: license year update 2025 (#613)
  LICENSE
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/program_array.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/sdf_filter.h
  cmd/ebpf/xdp/statistics.h
  cmd/ebpf/xdp/urr.h
  cmd/ebpf/xdp/utils/common.h
  cmd/ebpf/xdp/utils/csum.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
  cmd/ebpf/xdp/utils/icmp.h
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/trace.h
  cmd/ebpf/xdp/utils/types.h
  cmd/ebpf/xdp/zero_entrypoint.c
Owners: @pirog-spb, @marknefedov
