Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

try to redirect in tail
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/upf_program.c
Owners: @pirog-spb, @marknefedov

fix packet processing in the second ebpf program
  cmd/ebpf/xdp/upf_program.c
Owners: @pirog-spb, @marknefedov

hello from tail
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/program_array.h
  cmd/ebpf/xdp/upf_program.c
Owners: @pirog-spb, @marknefedov

add tail call for tx action
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/program_array.h
  cmd/ebpf/xdp/upf_program.c
Owners: @pirog-spb, @marknefedov

fix variables naming and add association counter
  cmd/core/metrics.go
  cmd/core/pfcp_connection.go
  docs/metrics.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: Add new metric `upf_pfcp_current_sessions` (#380)
  cmd/core/metrics.go
  cmd/core/pfcp_connection.go
  cmd/main.go
  docs/metrics.md
Owners: @pirog-spb, @marknefedov, @ewdss

refactor to support N9
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix api and session deletion
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix api and session deletion
  cmd/core/api.go
  cmd/core/pfcp_session_handlers.go
  docs/install.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix tests
  cmd/core/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

fix tests
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

remove obsolete func
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix unit tests
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

fix unit tests
  cmd/core/pfcp_session_handlers.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

fix pfcp message output
  cmd/core/display_utils.go
Owners: @pirog-spb, @marknefedov

go-pfcp bug workarround
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix unit test
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

fix unit tests
  cmd/core/ie_overwrite_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

update tests
  cmd/core/display_utils.go
  cmd/core/ie_overwrite_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

feat: implement N9 support in N4 handler (#383)
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/pdr.go
  docs/install.md
Owners: @pirog-spb, @marknefedov, @ewdss

add json model dashboard file
  .deploy/grafana/open5gs_sess_dashboard.json
Owners: @mbaran0v, @PapaySail

feat: in chart update appVersion to 0.4.0
  .deploy/helm/eupf/Chart.yaml
Owners: @mbaran0v, @PapaySail

add reply to icmp ping
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/csum.h
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

refactor
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/icmp.h
Owners: @pirog-spb, @marknefedov

add gtp tunnel update for n9
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

fix n9 packet encoding
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

fix and refactor tests
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

Update test.yml: remove sudo from test command
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

refactor
  cmd/ebpf/xdp/utils/icmp.h
Owners: @pirog-spb, @marknefedov

refactor
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

update roadmap
  README.md
Owners: @ewdss

feat: reply to icmp echo resuest in data path (#390)
  .github/workflows/test.yml
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/csum.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/icmp.h
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

feat: add gtp tunnel forwarding support for N9 in data path (#391)
  README.md
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @ewdss, @pirog-spb, @marknefedov

deploy: Grafana: add json model dashboard file (#385)
  .deploy/grafana/open5gs_sess_dashboard.json
Owners: @mbaran0v, @PapaySail

deploy: in chart update appVersion to 0.4.0 (#389)
  .deploy/helm/eupf/Chart.yaml
Owners: @mbaran0v, @PapaySail

deploy: open5gs slicing fixes (#377)
  docs/examples/open5gs/eupf-host-nat.yaml
  docs/examples/open5gs/eupf2-rout-static.yml
  docs/examples/open5gs/eupf3-rout-static.yml
  docs/examples/open5gs/open5gs.yaml
  docs/examples/open5gs/open5gs/smf3-cm.yaml
  docs/examples/open5gs/smf1-cm.yaml
  docs/examples/open5gs/smf2-cm.yaml
  docs/examples/open5gs/smf2slice-open5gs.yaml
  docs/examples/open5gs/smf3slice-open5gs.yaml
  docs/examples/open5gs/ueransim-ue3.yaml
  docs/install.md
Owners: @ewdss

deploy ulcl created
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/README.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/free5gc.yaml
  docs/deployments/free5gc-ulcl/global.yaml
  docs/deployments/free5gc-ulcl/upf.yaml
  docs/examples/free5gc/openverso-gnb-ues-values.yaml
Owners: @ewdss

use local trace function
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/routing.h
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

fixes to deploy free5gc upfs
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/free5gc.yaml
  docs/deployments/free5gc-ulcl/netad-ueransim.yaml
  docs/deployments/free5gc-ulcl/upf.yaml
Owners: @ewdss

readme
  docs/deployments/free5gc-ulcl/README.md
Owners: @ewdss
