Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

add comment
  cmd/main.go
Owners: @pirog-spb, @marknefedov

Added port range check
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Corrected the issue in match_sdf_filter methods
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Corrected an error in the code connected to NULL return
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Cannot seem to find out what causes the error in match_sdf_filter_ipv4
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

use published chart
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
Owners: @ewdss

feat: log levels support (#433)
  cmd/config/config.go
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
  cmd/ebpf/stats.go
  cmd/main.go
  docs/Configuration.md
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov, @ewdss

Added SDF filter to handle_gtp_packet and corrected parse functions
  Dockerfile
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

Fixed instruction in Readme in Build and Run manual
  README.md
Owners: @ewdss

deploy: srsran gnb ue (#417)
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
  docs/deployments/srsran-gnb/manifests/calico-bgp.yaml
  docs/deployments/srsran-gnb/manifests/calico-pools.yaml
  docs/deployments/srsran-gnb/manifests/smf-configmap.yaml
  docs/deployments/srsran-gnb/schema.png
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/deployments/srsran-gnb/values/main.yaml
  docs/deployments/srsran-gnb/values/smf.yaml
  docs/deployments/srsran-gnb/values/srsue-gnb.yaml
Owners: @ewdss

fix: build args works not correctly
  Dockerfile
Owners: @pirog-spb, @marknefedov

add edit_config api route (only logging_level supported)
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

small edit
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

perfume refactoring
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

monitoring config file changes (only logging_level supported)
  cmd/config/config.go
  cmd/config/startup.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

sample commit to run github workflow jobs
  cmd/main.go
Owners: @pirog-spb, @marknefedov

edit request body format
  cmd/core/api.go
  cmd/core/display_utils.go
Owners: @pirog-spb, @marknefedov

better error message
  cmd/core/api.go
Owners: @pirog-spb, @marknefedov

add api method for modifying QER
  cmd/core/api.go
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

Update open5gs_sessions.json dashboard JSON Model
  .deploy/grafana/open5gs_sessions.json
Owners: @mbaran0v, @PapaySail

Added parser for ip4 and ip6 to get protocol
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Corrected parse_gtp method
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

update api & use it in load test
  cmd/core/api.go
  cmd/ebpf/stats.go
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

fix: build args works not correctly (#441)
  Dockerfile
Owners: @pirog-spb, @marknefedov

refactored
  cmd/config/config.go
  cmd/config/startup.go
  cmd/core/api.go
  cmd/core/config_edit.go
  cmd/core/display_utils.go
  cmd/core/logger.go
  cmd/main.go
  config.yml
Owners: @pirog-spb, @marknefedov

remove level change through config.yml for this PR
  cmd/config/config.go
  cmd/config/startup.go
  cmd/main.go
  config.yml
Owners: @pirog-spb, @marknefedov

refacto
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

feat: add runtime modification of log level (#439)
  cmd/config/config.go
  cmd/core/api.go
  cmd/core/config_edit.go
  cmd/core/logger.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

Changed how sdf filter is checked in gtp
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Changed back
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Midifed sdf filter checking in handle_gtp_packet
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

Changed how inner_context is parsed
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

test: add simple tcpreplay test (#435)
  cmd/core/api.go
  cmd/ebpf/stats.go
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

deploy: add dynamic s-nssai panels for every slice in open5gs dashboard (#442)
  .deploy/grafana/open5gs_sessions.json
Owners: @mbaran0v, @PapaySail

refacto & debug
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/sdf_filter.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/types.h
Owners: @pirog-spb, @marknefedov

First try
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

for loop stop criteria
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

timeout parameter
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

feat: StatefulSet for eUPF, deployement docs
  .deploy/helm/eupf/.gitignore
  .deploy/helm/eupf/.helmignore
  .deploy/helm/eupf/Chart.yaml
  .deploy/helm/eupf/Makefile
  .deploy/helm/eupf/templates/service.yaml
  .deploy/helm/eupf/templates/statefulset.yaml
  .deploy/helm/eupf/values.yaml
  docs/deployments/README.md
  docs/deployments/open5gs-with-scaling-eupf/.DS_Store
  docs/deployments/open5gs-with-scaling-eupf/Makefile
  docs/deployments/open5gs-with-scaling-eupf/README.md
  docs/deployments/open5gs-with-scaling-eupf/manifests/smf-configmap.yaml
  docs/deployments/open5gs-with-scaling-eupf/schema.png
  docs/deployments/open5gs-with-scaling-eupf/values/eupf.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/gnb.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/main.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/smf.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/ue1.yaml
  docs/deployments/open5gs-with-scaling-eupf/values/ue2.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

f
  docs/deployments/open5gs-with-scaling-eupf/.DS_Store
Owners: @ewdss
