Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

refactor: cli file names (#121)
  cli/eupf/delivery/backup.go
  cli/eupf/delivery/cli_config.go
  cli/eupf/delivery/config.go
  cli/eupf/delivery/eupf.go
  cli/eupf/delivery/session.go
  cli/eupf/delivery/trace.go
  cli/eupf/injection/wire.go
  cli/eupf/injection/wire_gen.go
Owners: @pirog-spb, @marknefedov

chore: use global config for local ip (#620)
  cmd/api/rest/far_map.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  docs/install.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: add urr map resize (#122)
  cmd/ebpf/objects.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix: update config by route (#123)
  cmd/api/rest/config.go
Owners: @pirog-spb, @marknefedov

chore: add gitignore in deployments huawei (#124)
  docs/deployments/open5gs-compose/.gitignore
Owners: @ewdss

fix: unused path parameter
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
Owners: @pirog-spb, @marknefedov

fix: start using path parameter (#125)
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
Owners: @pirog-spb, @marknefedov

feat: add calculate default map size by session
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/sizing.h
  cmd/ebpf/xdp/urr.h
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: add calculate default maps size by session (#127)
  cmd/config/config.go
  cmd/ebpf/objects.go
Owners: @pirog-spb, @marknefedov

feat: huawei add calculate default map size (#128)
  docs/Configuration.md
Owners: @ewdss

feat: add calculate default maps size by session (#622)
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/sizing.h
  cmd/ebpf/xdp/urr.h
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: init remote node sxa sxb iface (#129)
  cmd/core/config_edit.go
  cmd/core/pfcp_connection.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

feat: add simple session release request (#114)
  cmd/api/rest/pfcp_sessions.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

feat: cli ci/cd (#90)
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

fix: set maps size during startup (#130)
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: start set size ebpf map by load
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: start set size ebpf map by load
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix: set ebpf map size on startup correctly (#624)
  cmd/config/config.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: cli add prety print session tables (#132)
  cli/eupf/delivery/session.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: add rollback (#116)
  cmd/core/ie_overwrite_test.go
  cmd/core/operation_pool.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

feat: cli add show commands (#133)
  cli/domain/eupf.go
  cli/eupf/delivery/config_set.go
  cli/eupf/delivery/config_show.go
  cli/eupf/delivery/eupf.go
  cli/eupf/usecase/eupf.go
  docs/cli.md
Owners: @pirog-spb, @marknefedov, @ewdss

ci: fix trivy warnings (#136)
  .trivyignore
  Dockerfile
  Dockerfile.cli
  cmd/core/gtp_path_manager.go
  cmd/ebpf/stats.go
  cmd/ebpf/utils.go
  cmd/utils/packet_dumper.go
  go.mod
  go.sum
  scripts/enb-load-test/enb-emulator/go.mod
  scripts/enb-load-test/enb-emulator/go.sum
  scripts/enb-load-test/enb-emulator/main.go
Owners: @pirog-spb, @marknefedov

feat: set trace direction (#134)
  cmd/config/config.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/packet_trace.h
  cmd/main.go
  cmd/utils/packet_dumper.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: association release by http and signal (#61)
  .github/workflows/test.yml
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/main.go
  docs/api.md
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

refactor: rollback (#137)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

chore: 4g core compose upgrade (#138)
  docs/deployments/open5gs-compose-4g/.deploy/docker/smfcfg.yaml
  docs/deployments/open5gs-compose-4g/.env
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

pref: installing the necessary packages in the DockerFile (#139)
  Dockerfile
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
  docs/deployments/open5gs-compose/docker-compose.yaml
Owners: @pirog-spb, @marknefedov, @ewdss

fix: heartbeat and associations (#140)
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

Update docker-compose.override.yaml : fix routing inside upf
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
Owners: @ewdss

docs: new image (#143)
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
Owners: @ewdss

add eupf-route-updater.yaml
  docs/deployments/open5gs-with-bgp/README.md
  docs/deployments/open5gs-with-bgp/manifests/eupf-route-updater.yaml
Owners: @ewdss

Make GTP-U/UDP/IP(6) to be also recognized as a value for Outer Header Removal Description.
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

feat: support GTP-U/UDP/IP(6) Outer Header removal (#636)
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

feat: use advertised N3/N9 addresses (#145)
  cmd/config/config.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

chore: revert huawei NodeID format
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add local processing for inter upf packet
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add forward declaration of handle_gtp_packet
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

enable logging
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

try to fix recursion issue
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

try to avoid recursion
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov
