Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

pytests and pipeline
  .github/workflows/test.yml
  cmd/core/pdr_creation_context.go
  pytest/test_session.py
  pytest/test_session_ueip.py
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update README.md
  README.md
Owners: @ewdss

check flag before TestIPAllocationInSessionEstablishmentResponse
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

pytests and pipeline
  .github/workflows/test.yml
  pytest/test_session.py
  pytest/test_session_ueip.py
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Update test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

slight refacto
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

feat: setting the UEIP flag and allocation of IP (#501)
  .github/workflows/test.yml
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager.go
  cmd/core/service/resource_manager_test.go
  cmd/main.go
  docs/Configuration.md
  pytest/test_session.py
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

configuration refacto
  cmd/config/config.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix pytest
  cmd/config/config.go
  docs/Configuration.md
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov, @ewdss

fix pytest
  cmd/config/config.go
  cmd/core/service/resource_manager.go
  docs/Configuration.md
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov, @ewdss

go tidy
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

modify test workflow
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fix action.yml
  .github/actions/raw-upf-presetup/action.yml
Owners: @mbaran0v, @PapaySail

revert
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

refacto swag
  cmd/api/rest/config.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/stats.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

implicit import swag package
  cmd/api/rest/handler.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

try to fix circle dep
  cmd/api/rest/handler.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix
  cmd/core/service/resource_manager.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

f
  .github/actions/raw-upf-presetup/action.yml
  go.mod
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

f
  cmd/core/service/resource_manager.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

bump go version
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

fix unit test
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

revert swag
  cmd/api/rest/handler.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

refactor: 3gpp options configuration refactoring (#525)
  .github/actions/raw-upf-presetup/action.yml
  cmd/api/rest/config.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/stats.go
  cmd/config/config.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager.go
  cmd/core/service/resource_manager_test.go
  cmd/main.go
  docs/Configuration.md
  go.mod
  go.sum
  pytest/test_session.py
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

add remark about "swag not found error"
  README.md
Owners: @ewdss

docs: add remark about "swag not found error" to README (#529)
  README.md
Owners: @ewdss

Update roadmap in README.md
  README.md
Owners: @ewdss

docs: update roadmap in README.md (#530)
  README.md
Owners: @ewdss

docs: use sudo with docker run and some minor fixes
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss
