Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

runtime modification using config file
  cmd/config/config.go
  cmd/config/startup.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix review remarks
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix matching by ip protocol
  cmd/ebpf/xdp/sdf_filter.h
Owners: @pirog-spb, @marknefedov

update unit test
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/sdf_filter.h
Owners: @pirog-spb, @marknefedov

fix sole sdf scenario
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

tests: run multiple simultaneous tcpreplay tests (#450)
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

fixes after review
  cmd/config/config.go
  cmd/config/startup.go
  cmd/core/api.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

init
  cmd/main.go
Owners: @pirog-spb, @marknefedov

refactoring
  cmd/main.go
Owners: @pirog-spb, @marknefedov

remove hardcoded define
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

restore enable log default value
  Dockerfile
Owners: @pirog-spb, @marknefedov

feat: SDF filter matching method added (#434)
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/sdf_filter.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/routing.h
  cmd/ebpf/xdp/utils/types.h
Owners: @pirog-spb, @marknefedov

feat: change chart repository to ghcr.io
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices/Makefile
  docs/deployments/open5gs-with-bgp/Makefile
  docs/deployments/srsran-gnb/Makefile
Owners: @ewdss

refactor: api implementation
  cmd/api/rest/config.go
  cmd/api/rest/far_map.go
  cmd/api/rest/handler.go
  cmd/api/rest/metrics.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/stats.go
  cmd/api/rest/uplink_pdr.go
  cmd/api/rest/util.go
  cmd/domain/far_map_element.go
  cmd/domain/node_association.go
  cmd/domain/packet_stats.go
  cmd/domain/pdr_element.go
  cmd/domain/session.go
  cmd/domain/xdp_stats.go
  cmd/main.go
  cmd/server/server.go
Owners: @pirog-spb, @marknefedov

add gtp-u extension header QFI in DL
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
Owners: @pirog-spb, @marknefedov

ci: fix build with cache
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

f
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

f
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

f
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

refactor: api documentation
  docs/api.md
Owners: @ewdss

refactor: api documentation
  docs/api.md
Owners: @ewdss

refactor: api implementation
  cmd/api/rest/far_map.go
  cmd/api/rest/metrics.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/stats.go
  cmd/api/rest/uplink_pdr.go
  cmd/api/rest/util.go
  cmd/domain/far_map_element.go
  cmd/domain/node_association.go
  cmd/domain/packet_stats.go
  cmd/domain/pdr_element.go
  cmd/domain/session.go
  cmd/domain/xdp_stats.go
Owners: @pirog-spb, @marknefedov

fix: test errors
  cmd/api/rest/pfcp_associations.go
Owners: @pirog-spb, @marknefedov

fix: test errors
  cmd/api/rest/stats.go
Owners: @pirog-spb, @marknefedov

fix: test errors
  cmd/api/rest/handler.go
Owners: @pirog-spb, @marknefedov

try 1
  .github/actions/raw-upf-presetup.yml
  .github/workflows/robot-test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 2
  .github/actions/raw-upf-presetup.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 3
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 4
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 5
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 6
  .github/actions/raw-upf-presetup/raw-upf-presetup.yml
Owners: @mbaran0v, @PapaySail

try 7
  .github/actions/raw-upf-presetup/action.yml
Owners: @mbaran0v, @PapaySail

try 8
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

try 9
  .github/actions/raw-upf-presetup/action.yml
Owners: @mbaran0v, @PapaySail

try 10
  .github/workflows/loadtest.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

refactor: api documentation
  docs/api.md
Owners: @ewdss

refactor: api documentation
  docs/api.md
Owners: @ewdss

try 11
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 12
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 13
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail
