Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

split into packages and bug fix hopes.
  .trivyignore
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

split into packages and bug fix hopes.
  Dockerfile
Owners: @pirog-spb, @marknefedov

split into packages and bug fix hopes.
  .dockerignore
  cmd/eupf/ebpf/ebpf_objects.go
  cmd/eupf/ebpf/ebpf_pdr.go
  cmd/eupf/ebpf/ebpf_stats.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

Logging cleanup
  cmd/eupf/buffer_test.go
  cmd/eupf/ebpf/ebpf_pdr.go
  cmd/eupf/ebpf/ebpf_test.go
  cmd/eupf/main.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_handlers.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

testing
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

pointers
  cmd/eupf/ebpf/ebpf_pdr.go
Owners: @pirog-spb, @marknefedov

pdr and session fixes
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

tests
  cmd/eupf/buffer_test.go
  cmd/eupf/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

linter fixes
  cmd/eupf/buffer_test.go
  cmd/eupf/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

rename
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

rename
  cmd/eupf/buffer_test.go
Owners: @pirog-spb, @marknefedov

rename
  cmd/eupf/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

fix: make net.IP copy when saving it, use sessions reference to keep extracted data (#303)
  cmd/eupf/ie_overwrite_test.go
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

f
  cmd/eupf/config/config.go
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

changed defaults
  cmd/eupf/config/config.go
Owners: @pirog-spb, @marknefedov

add routing statistic and cache
  cmd/eupf/ebpf_objects.go
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

rename config field
  cmd/eupf/config/config.go
Owners: @pirog-spb, @marknefedov

Ipv6 Downlink PDR support
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

naming
  cmd/eupf/ebpf_pdr.go
Owners: @pirog-spb, @marknefedov

remove comment
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

rename key
  cmd/eupf/config/config.go
Owners: @pirog-spb, @marknefedov

lost function
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: Add switch for map resizing (#304)
  cmd/eupf/config/config.go
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

Return error if no UE ip present
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: Ipv6 Downlink PDR support (#307)
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add simple xdp hook for veth host part
  cmd/eupf/ebpf_objects.go
  cmd/eupf/xdp/zero_entrypoint.c
Owners: @pirog-spb, @marknefedov

feat: support xdp native attach mode for veth (#306)
  cmd/eupf/ebpf_objects.go
  cmd/eupf/xdp/zero_entrypoint.c
Owners: @pirog-spb, @marknefedov

Package and code splitting
  .dockerignore
  .github/workflows/test.yml
  Dockerfile
  cmd/eupf/core/api.go
  cmd/eupf/core/display_utils.go
  cmd/eupf/core/ie_overwrite_test.go
  cmd/eupf/core/metrics.go
  cmd/eupf/core/node_association.go
  cmd/eupf/core/pfcp_connection.go
  cmd/eupf/core/pfcp_handlers.go
  cmd/eupf/core/pfcp_session_handlers.go
  cmd/eupf/core/pfcp_session_handlers_test.go
  cmd/eupf/core/session.go
  cmd/eupf/core/sessions_ueip_bug_test.go
  cmd/eupf/ebpf/ebpf_objects.go
  cmd/eupf/ebpf/ebpf_pdr.go
  cmd/eupf/ebpf/ebpf_stats.go
  cmd/eupf/ebpf/ebpf_test.go
  cmd/eupf/ebpf/ebpf_utils.go
  cmd/eupf/ebpf/xdp/far_program.c
  cmd/eupf/ebpf/xdp/n3_entrypoint.c
  cmd/eupf/ebpf/xdp/n3n6_entrypoint.c
  cmd/eupf/ebpf/xdp/n6_entrypoint.c
  cmd/eupf/ebpf/xdp/pdr.h
  cmd/eupf/ebpf/xdp/program_array.h
  cmd/eupf/ebpf/xdp/qer.h
  cmd/eupf/ebpf/xdp/qer_program.c
  cmd/eupf/ebpf/xdp/statistics.h
  cmd/eupf/ebpf/xdp/upf_program.c
  cmd/eupf/ebpf/xdp/utils/common.h
  cmd/eupf/ebpf/xdp/utils/csum.h
  cmd/eupf/ebpf/xdp/utils/gtp_utils.h
  cmd/eupf/ebpf/xdp/utils/gtpu.h
  cmd/eupf/ebpf/xdp/utils/packet_context.h
  cmd/eupf/ebpf/xdp/utils/parsers.h
  cmd/eupf/ebpf/xdp/utils/routing.h
  cmd/eupf/ebpf/xdp/zero_entrypoint.c
  cmd/eupf/main.go
  cmd/eupf/pfcp_connection.go
Owners: @pirog-spb, @marknefedov, @mbaran0v, @PapaySail

tests fix
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

tests fix
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
