Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

prettify yaml
  docs/examples/free5gc/free5gc-single.yaml
Owners: @ewdss

deploy: fixes for Orange-OpenSource/towards5gs-helm + IPv6 (#317)
  docs/examples/free5gc/eupf-host-nat.yaml
  docs/examples/free5gc/free5gc-single.yaml
  docs/examples/free5gc/ueransim.yaml
  docs/examples/open5gs/eupf-host-nat.yaml
  docs/examples/open5gs/open5gs.yaml
Owners: @ewdss

update docker-compose usage info
  docs/install.md
Owners: @ewdss

docs: update docker-compose usage info (#354)
  docs/install.md
Owners: @ewdss

refactor: verify inner IP packet before memcpy (#349)
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

deploy: add network slice in open5gs (#353)
  docs/examples/open5gs/eupf2-rout-static.yml
  docs/examples/open5gs/open5gs.yaml
  docs/examples/open5gs/smf2slice-open5gs.yaml
  docs/examples/open5gs/ueransim-ue2.yaml
  docs/install.md
Owners: @ewdss

deploy: add simple slicing scenario support for free5gc (#333)
  docs/examples/free5gc/eupf2-rout-static.yaml
  docs/examples/free5gc/free5gc-single.yaml
  docs/examples/free5gc/openverso-gnb-ues-values.yaml
  docs/examples/free5gc/ueransim.yaml
Owners: @ewdss

Typo
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

add sequence numbers in requests
  cmd/core/node_association.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

modify pfcp_address default value
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

slight refactor
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix: Session deletion code typo. Ipv4->Ipv6 (#357)
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix: add sequence number in heartbeat (#358)
  cmd/config/config.go
  cmd/core/node_association.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: improve chart for BIRD configuration
  .deploy/helm/eupf/Chart.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/values.yaml
  docs/examples/open5gs/eupf-bgp.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

restore tos field filling
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

fix: restore tos field filling in N3 packets (#375)
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

install.md :: update version of openverso/open5gs
  docs/install.md
Owners: @ewdss

install.md:: fix kubectl apply -n open5gs
  docs/install.md
Owners: @ewdss

fix smf configmaps for slicing
  docs/examples/open5gs/smf1-cm.yaml
  docs/examples/open5gs/smf2-cm.yaml
Owners: @ewdss

install.md :: add `kubectl apply` to overwrite smf's configmaps for slicing
  docs/install.md
Owners: @ewdss

fix configMap: name: eupf-config
  docs/examples/open5gs/eupf-host-nat.yaml
  docs/examples/open5gs/eupf2-rout-static.yml
Owners: @ewdss

fix smf2: upf hostname
  docs/examples/open5gs/smf2slice-open5gs.yaml
Owners: @ewdss

Add supported messages
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

Recovery timestamp changes.
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

Rename
  cmd/core/node_association.go
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

Rename
  cmd/core/node_association.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

fix: Recovery timestamp was not sending UPF starting time, and node association entity seen time in hearbeats. (#379)
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

Add new metric
  cmd/core/metrics.go
  cmd/core/pfcp_connection.go
  cmd/main.go
  docs/metrics.md
Owners: @pirog-spb, @marknefedov, @ewdss

smf2-cm.yaml fix upf.pfcp.name=eupf2
  docs/examples/open5gs/smf2-cm.yaml
Owners: @ewdss

split n3n6_entrypoint.c to some files
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/n6.h
  cmd/ebpf/xdp/processor.h
  cmd/ebpf/xdp/utils/common.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/ip_handlers.h
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

Fix naming
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

Updated table
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

add procedures, refactor
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

update pfcp messages description
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

update document structure
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

add n3 interface info
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

open5gs deploy: slice sd: "0x333333" added
  docs/examples/open5gs/eupf3-rout-static.yml
  docs/examples/open5gs/open5gs.yaml
  docs/examples/open5gs/open5gs/smf3-cm.yaml
  docs/examples/open5gs/smf3slice-open5gs.yaml
Owners: @ewdss

open5gs deploy: UE3 for slice sd: "0x333333" added
  docs/examples/open5gs/ueransim-ue3.yaml
Owners: @ewdss

update "version not supported response" status
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

docs: update 3gpp compatibility document (#378)
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss
