Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

fix: pass traffic if QER doesn't contain MBR params (#332)
  cmd/core/display_utils.go
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

eUPF2 slice
  docs/examples/free5gc/eupf2-rout-static.yaml
  docs/examples/free5gc/free5gc-single.yaml
  docs/examples/free5gc/openverso-gnb-ues-values.yaml
  docs/examples/free5gc/ueransim.yaml
Owners: @ewdss

feat: PFCP heartbeats and headless mode (#328)
  cmd/config/config.go
  cmd/core/api.go
  cmd/core/ie_overwrite_test.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: add bird (BGP router) container for eupf deployment
  .deploy/helm/eupf/Chart.yaml
  .deploy/helm/eupf/templates/configmap.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/service-bird.yaml
  .deploy/helm/eupf/values.yaml
  .deploy/helm/values/dev.yaml
  docs/examples/open5gs/calico-bgp.yaml
  docs/examples/open5gs/calico-pools.yaml
  docs/examples/open5gs/eupf-bgp.yaml
  docs/install.md
Owners: @mbaran0v, @PapaySail, @ewdss

ci: enable metrics on dev
  .deploy/helm/values/dev.yaml
Owners: @mbaran0v, @PapaySail

chore: revert settings
  docs/examples/open5gs/eupf-container-nat.yaml
Owners: @ewdss

use `char *` instead of `void *` in `packet_context`
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

avoid pointer arithmetic with `void*`
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

fix: NodeId and PFCP IPv4 address not being used. (#329)
  cmd/config/config.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

refactor: avoid pointer arithmetic with `void*` (#327)
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

feat: add bird (BGP router) container for eupf deployment (#334)
  .deploy/helm/eupf/Chart.yaml
  .deploy/helm/eupf/templates/configmap.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/service-bird.yaml
  .deploy/helm/eupf/values.yaml
  .deploy/helm/values/dev.yaml
  docs/examples/open5gs/calico-bgp.yaml
  docs/examples/open5gs/calico-pools.yaml
  docs/examples/open5gs/eupf-bgp.yaml
  docs/install.md
Owners: @mbaran0v, @PapaySail, @ewdss

Change validator settings
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

Introduce function to find Transport Level Marking in child IEs.
  cmd/core/get_transport_level_marking_test.go
  cmd/core/pfcp_session_handlers.go
  scripts/scapy/SessionEstablishmentRequest.py
  scripts/scapy/SessionModificationRequest.py
Owners: @pirog-spb, @marknefedov

Apply function
  cmd/core/display_utils.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

Rename test
  cmd/core/get_transport_level_marking_test.go
Owners: @pirog-spb, @marknefedov

fix: NodeId can be an ip address (#346)
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

more pfcp connection edits.
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

Add startup test
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Add pytest
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Now there are handlers that will not answer with an outgoing PFCP message. Add nil check.
  .github/workflows/test.yml
  cmd/core/pfcp_handlers.go
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

Fix Go case
  cmd/core/pfcp_handlers.go
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

Add message that borked eUPF
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

Split into multiple tests.
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

test_ seems to be naming convention for test discovery.
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

prettified yaml + comment for net.ipv4.ip_forward
  docs/examples/free5gc/eupf-host-nat.yaml
  docs/examples/free5gc/free5gc-single.yaml
Owners: @ewdss

+ comment in open5gs for net.ipv4.ip_forward
  docs/examples/open5gs/eupf-host-nat.yaml
Owners: @ewdss

Robot framework.
  .gitignore
  robot/Scenario-0.robot
Owners: @pirog-spb, @marknefedov

fix: Search for Transport Level Marking values in child IEs. Add Pytest session creation and deletion cycle, with heartbeat response. (#347)
  .github/workflows/test.yml
  .gitignore
  cmd/core/display_utils.go
  cmd/core/get_transport_level_marking_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  pytest/test_session.py
  scripts/scapy/SessionEstablishmentRequest.py
  scripts/scapy/SessionModificationRequest.py
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

Check registration status and IMCP traffic with ping.
  robot/Scenario-0.robot
Owners: @pirog-spb, @marknefedov

remove gtp header after rate limiting
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

Reorganize test cases
  robot/Scenario-0.robot
Owners: @pirog-spb, @marknefedov

feat: Add robot framework testing (#350)
  .gitignore
  robot/Scenario-0.robot
Owners: @pirog-spb, @marknefedov

refactor: remove gtp header after rate limiting (#351)
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

verify inner ip packet before memcpy
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

Github actions wip1
  .github/workflows/robot-test.yml
Owners: @mbaran0v, @PapaySail

slices helmcharts values
  docs/examples/open5gs/eupf2-rout-static.yml
  docs/examples/open5gs/open5gs.yaml
  docs/examples/open5gs/smf2slice-open5gs.yaml
  docs/examples/open5gs/ueransim-ue2.yaml
Owners: @ewdss

Update eupf2-rout-static.yaml: removed commented NetworkAttachmentDefinitions
  docs/examples/free5gc/eupf2-rout-static.yaml
Owners: @ewdss

install.md: open5gs: Option add second network slice
  docs/install.md
Owners: @ewdss

install.md: Kubenetes environment: add kube-prometheus-stack
  docs/install.md
Owners: @ewdss

install.md: free5gc: Option add second network slice & comment out unnecessary chapter install gtp5g kernel module
  docs/install.md
Owners: @ewdss

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
