Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

ci(trivy): drop watch trigger, pin actions
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

ci(robot-test): re-register workflow, fix call inputs and secrets
  .github/workflows/robot-test-scenario0.yml
  .github/workflows/robot-test.yml
Owners: @mbaran0v, @PapaySail

ci: pin and bump actions across workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

ci(trivy): fix trivy-action tag: v0.36.0, not 0.36.0
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

ci: update pipeline actions version (#653)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/loadtest.yml
  .github/workflows/robot-test-scenario0.yml
  .github/workflows/robot-test.yml
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

fix(deps): update golang.org/x/* to close 18 HIGH CVEs, bump Go to 1.26
  Dockerfile
  README.md
  cmd/ebpf/stats.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov, @ewdss

fix(trivy): ignore KSV-0118 for the eUPF deployment template
  .trivyignore
Owners: @pirog-spb, @marknefedov

ci: bump golangci-lint to v2.14.0 for Go 1.26
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fix(deps): update golang.org/x/* to close 18 HIGH CVEs, bump Go to 1.26 (#654)
  .github/workflows/test.yml
  Dockerfile
  README.md
  cmd/ebpf/stats.go
  go.mod
  go.sum
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

fix(trivy): ignore KSV-0118 for the eUPF deployment template (#655)
  .trivyignore
Owners: @pirog-spb, @marknefedov

ci(security): consolidate Trivy into manual pre-merge Security scan workflow
  .github/workflows/security-scan.yml
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

ci(security): add least-privilege GITHUB_TOKEN permissions to scan jobs
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

ci(security): consolidate Trivy into manual pre-merge Security scan workflow (#656)
  .github/workflows/security-scan.yml
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

fix(ci): quote hyphenated job ids in needs.result expressions
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

fix(ci): quote hyphenated job ids in needs.result expressions
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

ci(security): scan PRs automatically instead of manual dispatch
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

fix(ci): quote hyphenated job ids in needs.result expressions
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

docs: point the security badge to security-scan.yml
  README.md
Owners: @ewdss

ci(security): scan PRs automatically instead of manual dispatch (#659)
  .github/workflows/security-scan.yml
  README.md
Owners: @mbaran0v, @PapaySail, @ewdss

fix(ci): use the correct needs.<job_id>.result context in scan-result
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

fix(ci): use the correct needs.<job_id>.result context in scan-result (#660)
  .github/workflows/security-scan.yml
Owners: @mbaran0v, @PapaySail

fix(helm): make default values produce a startable pod (#645)
  .deploy/helm/eupf/README.md
  .deploy/helm/eupf/templates/NOTES.txt
  .deploy/helm/eupf/templates/configmap.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/helpers/_pod.tpl
  .deploy/helm/eupf/templates/job.yaml
  .deploy/helm/eupf/templates/statefulset.yaml
  .deploy/helm/eupf/values.yaml
  .deploy/helm/values/dev.yaml
  .deploy/helm/values/test.yaml
Owners: @mbaran0v, @PapaySail

fix(trivy): ignore KSV-0121 for the eUPF /sys hostPath mount
  .trivyignore
Owners: @pirog-spb, @marknefedov

core: always send PFCP responses; absorb absent datapath entries in mapOperations
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov
