Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

try 14
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 15
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 16
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 17
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 18
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 19
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 20
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 21
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

try 22
  .github/workflows/loadtest.yml
Owners: @mbaran0v, @PapaySail

refactor: api implementation (#460)
  cmd/api/rest/config.go
  cmd/api/rest/far_map.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/stats.go
  cmd/api/rest/uplink_pdr.go
  cmd/main.go
  cmd/server/server.go
Owners: @pirog-spb, @marknefedov

fix gtp header length
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

tests: add robot to CI (#352)
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/loadtest.yml
  .github/workflows/robot-test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fix gtp ext header encoding
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/utils/gtpu.h
Owners: @pirog-spb, @marknefedov

docs: api documentation
  cmd/core/api.go
  docs/api.md
Owners: @pirog-spb, @marknefedov, @ewdss

docs: api documentation
  docs/api.md
Owners: @ewdss

feat: allocation of IP addresses for SMF
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/service/ipam.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: allocation of IP addresses for SMF
  cmd/config/config.go
  cmd/core/pfcp_session_handlers.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

feat: allocation of IP addresses for SMF
  cmd/core/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

feat: allocation of IP addresses for SMF
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: allocation of IP addresses for SMF
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

feat: allocation of IP addresses for SMF
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: golang.org/x/net updated
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

fix: added missing go.sum entry for module providing package golang.org/x/sys/unix
  go.sum
Owners: @pirog-spb, @marknefedov

fix: added missing packages
  go.sum
Owners: @pirog-spb, @marknefedov

feat: add gtp-u extension header with qfi (#461)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
Owners: @pirog-spb, @marknefedov

docs: api documentation (#463)
  cmd/core/api.go
  docs/api.md
Owners: @pirog-spb, @marknefedov, @ewdss

copy of https://github.com/edgecomllc/free5gc-compose/blob/master/docker-compose.override.yml
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
Owners: @ewdss

f
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
  docs/deployments/oai-nfapi-sim-compose/eupf/entrypoint.sh
  docs/deployments/oai-nfapi-sim-compose/nat/Dockerfile
  docs/deployments/oai-nfapi-sim-compose/nat/busy-poll.sh
Owners: @ewdss

feat: creation of FTUP and allocation of FTEID
  Dockerfile
  cmd/api/rest/handler.go
  cmd/core/api.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/ipam.go
  cmd/core/service/ipam_test.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

feat: creation of FTUP and allocation of FTEID
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add some guidelines
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix up features and add created PDRs in SMF response
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

refactor
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: TEID allocation testfunc
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/ipam.go
Owners: @pirog-spb, @marknefedov

feat: TEID allocation testfunc
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

f
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
Owners: @ewdss

feat: TEID allocation testfunc
  cmd/core/pfcp_session_handlers.go
  cmd/core/service/ipam.go
Owners: @pirog-spb, @marknefedov

feat: TEID allocation testfunc
  cmd/core/pdr.go
  cmd/core/pfcp_session_handlers.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: TEID allocation testfunc
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: TEID allocation testfunc
  cmd/core/pdr.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov
