Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

Refacto install.md
  docs/install.md
Owners: @ewdss

f
  docs/examples/open5gs/eupf-node-nat.yaml
  docs/examples/open5gs/eupf.yaml
  docs/examples/open5gs/iperf.yaml
  docs/examples/open5gs/nat.yaml
  docs/load-testing.md
Owners: @ewdss

Update README.md
  README.md
Owners: @ewdss

Update README.md
  README.md
Owners: @ewdss

Rename 3gppCompliance.md to eupf_3gpp_compatibility.md
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

f
  docs/examples/open5gs/eupf-container-nat.yaml
  docs/examples/open5gs/eupf-host-nat.yaml
  docs/install.md
Owners: @ewdss

f
  docs/examples/open5gs/nat.yaml
  docs/load-testing.md
Owners: @ewdss

Update README.md
  README.md
Owners: @ewdss

f
  docs/examples/free5gc/eupf-container-nat.yaml
  docs/examples/free5gc/nat.yaml
Owners: @ewdss

f
  .trivyignore
  Dockerfile
  vuln/key.pem
  vuln/requirements.txt
Owners: @pirog-spb, @marknefedov

Updated readme, moved swagger generation to go:generate declaration, reordered github actions.
  .github/workflows/test-on-pr.yml
  Dockerfile
  README.md
  cmd/eupf/api.go
  docs/api.md
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

f
  docs/examples/open5gs/eupf-container-nat.yaml
  docs/examples/open5gs/iperf.yaml
  docs/examples/open5gs/nat.yaml
  docs/load-testing.md
Owners: @ewdss

feat: add badges to readme
  README.md
Owners: @ewdss

f
  .github/workflows/test.yml
  README.md
Owners: @mbaran0v, @PapaySail, @ewdss

f
  README.md
Owners: @ewdss

f
  README.md
Owners: @ewdss

f
  .github/workflows/test.yml
  README.md
Owners: @mbaran0v, @PapaySail, @ewdss

f
  README.md
Owners: @ewdss

f
  README.md
Owners: @ewdss

typos
  README.md
Owners: @ewdss

print QER ID for every PDR
  cmd/eupf/display_utils.go
Owners: @pirog-spb, @marknefedov

print and ignore PDR with SDF filters
  cmd/eupf/display_utils.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

Ebpf resize logic
  cmd/eupf/config.go
  cmd/eupf/ebpf_objects.go
  cmd/eupf/ebpf_utils.go
  cmd/eupf/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

disable trace_pipe ebpf logs by default
  cmd/eupf/xdp/ip_entrypoint.c
Owners: @pirog-spb, @marknefedov

Add QER search by id.
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Split session and associations added filters
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

install.md: Add API ref
  docs/install.md
Owners: @ewdss

Split session and associations added filters
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Add QER search by id. (#184)
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Add pfcp prefix
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

remove FAR checks from filters
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Use query parameters.
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Use custom marshaler, for int to ip conversion.
  cmd/eupf/ebpf_pdr.go
Owners: @pirog-spb, @marknefedov

Update README.md (#164)
  README.md
Owners: @ewdss

review fixes
  README.md
Owners: @ewdss

review fixes
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

Fix nil dereference
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

165-make-nat-usage-description-more-clear
  docs/install.md
Owners: @ewdss

Add error responses.
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

180 separate pfcp association and pfcp sessions in api (#186)
  cmd/eupf/api.go
  cmd/eupf/ebpf_pdr.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
