Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

feat: add route stats metrics
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

feat: add route stats metrics (#78)
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

feat: cli commands (#75)
  Dockerfile.cli
  cli/app/main.go
  cli/config/config.go
  cli/domain/eupf.go
  cli/eupf/delivery/cli/eupf.go
  cli/eupf/injection/wire.go
  cli/eupf/injection/wire_gen.go
  cli/eupf/repository/http/eupf.go
  cli/eupf/usecase/eupf.go
  cmd/config/config.go
  cmd/config/startup.go
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: sdf filter match notification (#84)
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/ebpf/notify_listener.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/sdf_filter.h
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix: create dir for dump path (#85)
  cmd/utils/packet_dumper.go
Owners: @pirog-spb, @marknefedov

feat: add backup in cli (#81)
  cli/app/main.go
  cli/config/config.go
  cli/domain/eupf.go
  cli/eupf/delivery/cli/eupf.go
  cli/eupf/injection/wire.go
  cli/eupf/injection/wire_gen.go
  cli/eupf/models/http_schemas.go
  cli/eupf/repository/file/storage.go
  cli/eupf/repository/http/eupf.go
  cli/eupf/usecase/eupf.go
  docs/deployments/open5gs-compose-4g/.gitignore
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov, @ewdss

perf: optimize behaviour under load (#92)
  cmd/core/display_utils.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/sizing.h
  cmd/ebpf/xdp/urr.h
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

fix: check downlink packet for gtp protocol (#82)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix: add association in pfcp conn on test heartbeat (#93)
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

feat: add route stats metrics (#614)
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/core/metrics.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

fix: config file exist check bug (#89)
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

feat: new api description and swagger (#87)
  cmd/api/rest/config.go
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/subscriber_tracing.go
  cmd/api/rest/uplink_pdr.go
  docs/api.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: add ipv6 router advertisement support (#31)
  cmd/api/rest/handler.go
  cmd/api/rest/pdr.go
  cmd/api/rest/uplink_pdr.go
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/csum.h
  cmd/ebpf/xdp/utils/icmp.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/routing.h
  cmd/main.go
  docs/api.md
  scripts/scapy/GTP_ICMPv6_RS.py
Owners: @pirog-spb, @marknefedov, @ewdss

fix: build huawei branch (#101)
  cmd/api/rest/pdr.go
Owners: @pirog-spb, @marknefedov

fix: handle pfcp session report response (#100)
  cmd/core/display_utils.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: set pdr and other map tracker size from bpf (#99)
  cmd/ebpf/objects.go
Owners: @pirog-spb, @marknefedov

feat: trace file rotation (#98)
  cmd/config/config.go
  cmd/main.go
  cmd/utils/packet_dumper.go
Owners: @pirog-spb, @marknefedov

feat: configure common packets to be written to trace (#97)
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/trace.h
  cmd/main.go
  cmd/utils/packet_dumper.go
  go.mod
Owners: @pirog-spb, @marknefedov

chore: remove localip from far and use global_config values instead (#94)
  cmd/api/rest/far_map.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

feat: add baseURL config to cli (#96)
  cli/config/config.go
  cli/domain/eupf.go
  cli/eupf/delivery/cli/eupf.go
  cli/eupf/usecase/eupf.go
Owners: @pirog-spb, @marknefedov

fix: trace config validation
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

fix: remove local ip from test (#103)
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

fix: packet dumper (#102)
  cmd/utils/packet_dumper.go
  cmd/utils/packet_dumper_test.go
Owners: @pirog-spb, @marknefedov

feat: add spgwc service in 4gcore (#104)
  docs/deployments/open5gs-compose-4g/.deploy/docker/mme.yaml
  docs/deployments/open5gs-compose-4g/.deploy/docker/smfcfg.yaml
  docs/deployments/open5gs-compose-4g/.deploy/docker/uerouting.yaml
  docs/deployments/open5gs-compose-4g/docker-compose.override.yaml
Owners: @mbaran0v, @PapaySail, @ewdss

docs: update api routes [skip ci] (#105)
  docs/api.md
Owners: @ewdss

fix: creating backup in cli (#108)
  cli/eupf/repository/http/eupf.go
Owners: @pirog-spb, @marknefedov

fix: add iin cli new config fields (#109)
  cli/domain/eupf.go
Owners: @pirog-spb, @marknefedov

docs: add swagger anotations (#110)
  cmd/api/rest/pdr.go
Owners: @pirog-spb, @marknefedov

feat: add new api for deleting pfcp session (#111)
  cli/domain/eupf.go
  cli/domain/schemas.go
  cli/eupf/delivery/cli/eupf.go
  cli/eupf/repository/http/eupf.go
  cli/eupf/usecase/eupf.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_sessions.go
  docs/api.md
Owners: @pirog-spb, @marknefedov, @ewdss

docs: add actual metrics [skip ci] (#106)
  docs/eupf_3gpp_compatibility.md
  docs/metrics.md
Owners: @ewdss

fix: parse sequence number in gtp-u header (#113)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/utils/gtp_utils.h
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

docs: update config params and cli description (#107)
  docs/Configuration.md
  docs/cli.md
  docs/docs-ru_ru/Configuration.md
Owners: @ewdss

doc: update 3gpp capability description
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

fix ebpf warnings
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

use global config for local ip
  cmd/api/rest/far_map.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  docs/install.md
Owners: @pirog-spb, @marknefedov, @ewdss

fix unused vars
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

fix unused vars
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

fix: ebpf program build warnings (#619)
  cmd/ebpf/objects_test.go
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

fix: use proper function arg qualifier (#115)
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

feat: cli add configurate app from cmd (#118)
  cli/domain/eupf.go
  cli/eupf/delivery/cli/backup.go
  cli/eupf/delivery/cli/cli_config.go
  cli/eupf/delivery/cli/config.go
  cli/eupf/delivery/cli/eupf.go
  cli/eupf/delivery/cli/session.go
  cli/eupf/delivery/cli/trace.go
  cli/eupf/repository/http/eupf.go
  cli/eupf/usecase/eupf.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
