Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

fix: better error message in sdf filter parsing
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

add ebpf benchmark tests
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

add gtp with pdr benchmark
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

fix return value check
  cmd/ebpf/objects_test.go
Owners: @pirog-spb, @marknefedov

add tests and better file structure
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

tx packets are added, some incorrect rx packet calculation is deleted
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/statistics.h
Owners: @pirog-spb, @marknefedov

remove hardcoded define for routing cache
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

Added correct tx counting
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Updated tx_n3 counter
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/statistics.h
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

add sudo for tests
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

perf: fix obvious perfomance issues (#400)
  .github/workflows/test.yml
  cmd/ebpf/objects_test.go
  cmd/ebpf/test.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/routing.h
  cmd/ebpf/xdp/utils/trace.h
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

pdr with sdf updates default pdr
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

sdf filter now store in bpf map
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

charts moved to repo srsRAN5Gue-zmg-gNB
  docs/deployments/srsran-gnb/Chart.yaml
  docs/deployments/srsran-gnb/resources/gnb_zmq.yaml
  docs/deployments/srsran-gnb/templates/NOTES.txt
  docs/deployments/srsran-gnb/templates/_helpers.tpl
  docs/deployments/srsran-gnb/templates/configmap.yaml
  docs/deployments/srsran-gnb/templates/registry-secret.yaml
  docs/deployments/srsran-gnb/templates/statefulset.yaml
  docs/deployments/srsran-gnb/values.schema.json
Owners: @ewdss

add open5gs full scenario
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
  docs/deployments/srsran-gnb/manifests/calico-bgp.yaml
  docs/deployments/srsran-gnb/manifests/calico-pools.yaml
  docs/deployments/srsran-gnb/manifests/smf-configmap.yaml
  docs/deployments/srsran-gnb/schema.png
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/deployments/srsran-gnb/values/main.yaml
  docs/deployments/srsran-gnb/values/smf.yaml
  docs/deployments/srsran-gnb/values/srsue-gnb.yaml
Owners: @ewdss

sdf store separately in userspace
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser_test.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

default pdr search moved to pdr.go
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
  cmd/core/session.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

minor change
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

pretty sdf filter print
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

save outer_header_removal
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

initial try to set logging (through config)
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/main.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

Update cmd/ebpf/pdr.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

add simple tcpreplay test
  robot/Loadtest.robot
Owners: @pirog-spb, @marknefedov

SDF filter matching method added
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

Corrected spelling
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

Test
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Deleted bpf_printk
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

minor corrections
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

feat: application routing using sdf filters (#425)
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

Changed packet_src_ip conversion
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

all logs changed to zerologs
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
  cmd/ebpf/stats.go
Owners: @pirog-spb, @marknefedov

Changed how sdf filter is checked
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

changed match_sdf_filter_ipv4 to match_sdf_filter_ipv6
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

f
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-bgp.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-pools.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf2-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/schema.png
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/gnb.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/main.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue2-cm.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue2.yaml
Owners: @ewdss

Corrected accroing to comments
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

ue2-configmap replacement
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/ue2-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue2-cm.yaml
Owners: @ewdss

deploy: ue with 2 slice pdu (#436)
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-bgp.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-pools.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf2-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/ue2-configmap.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/schema.png
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/gnb.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/main.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf2.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue.yaml
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue2.yaml
Owners: @ewdss

Deleted unecessary else clause
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

small edit
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

edit Configuration.md
  docs/Configuration.md
Owners: @ewdss
