Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add recovery timestamp in association setup response
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

oai-smf: - DISCOVER_UPF=no
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
Owners: @ewdss

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

f
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/gnb.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/templates/service.yaml
  docs/deployments/open5gs-with-oai/charts/oai-gnb/templates/statefulset.yaml
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue.conf
  docs/deployments/open5gs-with-oai/values/gnb.yaml
  docs/deployments/open5gs-with-oai/values/ue.yaml
Owners: @ewdss

build: update golang.org/x/net version
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

fix: CVE-2023-5363, CVE-2023-5678
  Dockerfile
Owners: @pirog-spb, @marknefedov

docs: update deploy(install) description (#488)
  README.md
  docs/deployments/README.md
  docs/install.md
Owners: @ewdss

add brief functional description
  README.md
Owners: @ewdss

feat: basic gtp path management (#484)
  README.md
  cmd/config/config.go
  cmd/core/gtp_path_manager.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
  docs/Configuration.md
Owners: @ewdss, @pirog-spb, @marknefedov

fix apk no cache warning
  Dockerfile
Owners: @pirog-spb, @marknefedov

ignore SetReadDeadline return value
  cmd/core/gtp_path_manager.go
Owners: @pirog-spb, @marknefedov

build: fix trivy warnings (#492)
  Dockerfile
  cmd/core/gtp_path_manager.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/config/config.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  Dockerfile
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

add performance testbed description
  docs/eupf_3gpp_compatibility.md
  docs/load-testing.md
Owners: @ewdss

fix page naming
  docs/eupf_3gpp_compatibility.md
Owners: @ewdss

docs: add performance testbed description (#495)
  docs/eupf_3gpp_compatibility.md
  docs/load-testing.md
Owners: @ewdss

release far and qer by proper id
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
Owners: @pirog-spb, @marknefedov

fix: additional checks before processing PDR FTEID
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

fix: remove artefacts
  cmd/core/pdr.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

fix undefined max function
  cmd/ebpf/xdp/qer_program.c
Owners: @pirog-spb, @marknefedov

try 1
  cmd/config/config.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_path_manager.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

try 2
  cmd/config/config.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

fix: delete FAR and QER by correct id (#498)
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/xdp/qer_program.c
Owners: @pirog-spb, @marknefedov

refactor: pdrContext refactoring
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

assoc setup response parsing
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

sequence id incrementing (only inside setup requests)
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

safe request and response handling
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
