Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

fix build
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

try to use tail call to fix recurssion issue
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix build
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix build
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix build
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix tail_call call
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

simplify github workflow
  .github/workflows/loadtest.yml
  .github/workflows/trivy.yml
Owners: @mbaran0v, @PapaySail

disable debug logs
  cmd/ebpf/xdp/utils/trace.h
Owners: @pirog-spb, @marknefedov

add debug inout option
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

update dockerfile
  Dockerfile
Owners: @pirog-spb, @marknefedov

use build cache
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

fix build arg
  .github/workflows/build.yml
Owners: @mbaran0v, @PapaySail

enable gtp extention header
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

add per UE IP prefix advertised IP
  cmd/config/config.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
Owners: @pirog-spb, @marknefedov

rewrite 5g separate n3 advertise address support
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

fix new config key
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

show debug vlan params
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fix build
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fix build
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

feat: support GTP-U/UDP/IP(6) Outer Header removal
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

Use NR flag to enable gtp extention header in runtime
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

set 5g flag before pdr processing
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

try to fix micropackets without room for gtp recovery
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix verifier error
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix verifier
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

core: recover from panics while formatting a PDR for logging
  cmd/core/display_utils.go
  cmd/core/display_utils_test.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): introduce PfcpProfile interface + impls
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_profile.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

refactor(ie): split huawei_utils.go
  cmd/core/huawei_ie.go
  cmd/core/ie_helpers.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): add N4Connector to profile and dedupe connection setup
  cmd/core/config_edit.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_profile_test.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

docs: update profile references
  docs/Configuration.md
  docs/docs-ru_ru/Configuration.md
Owners: @ewdss

fix(pfcp): use profile parameter in removeURRs URSEQN call
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat(pfcp): add second FSEID to Session Establishment Response via HuaweiProfile
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_profile_test.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): connectors behind profile
  cmd/core/config_edit.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): enterprise IE parsing behind profile
  cmd/core/display_utils.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): usage report vendor IEs behind profile
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_profile_test.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat(pfcp): add Metric IE to HeartbeatRequest via HuaweiProfile
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_profile_test.go
Owners: @pirog-spb, @marknefedov

refactor(config): pfcp_profile string config key
  cli/domain/schemas.go
  cmd/config/config.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): OuterHeaderCreation behind profile
  cmd/core/display_utils.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix(pfcp): build IE slices before spreading into variadic NewUsageReport*
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix(pfcp): use conn.profile in updatePDRs URSEQN call
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
