Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

feat: TEID allocation
  cmd/config/config.go
  cmd/core/pdr.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/service/ipam.go
  cmd/core/service/resource_manager.go
  cmd/core/service/resource_manager_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: TEID allocation
  cmd/core/pfcp_session_handlers_test.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

feat: TEID allocation
  cmd/core/service/resource_manager.go
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

feat: TEID allocation
  cmd/config/config.go
  cmd/core/service/resource_manager.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

feat: TEID allocation
  cmd/core/pfcp_handlers.go
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

feat: release resources
  cmd/core/pfcp_session_handlers.go
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

feat: release resources
  cmd/core/service/resource_manager_test.go
Owners: @pirog-spb, @marknefedov

add path manager
  cmd/core/gtp_path_manager.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/service/resource_manager.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

create copy of values
  docs/deployments/omec-gnbsim/values/gnbsim.yaml
Owners: @ewdss

improvements based on comments
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/service/resource_manager.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

make gtp path manager work
  cmd/config/config.go
  cmd/core/gtp_path_manager.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/config/config.go
  cmd/core/pdr.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

improvements based on comments
  Dockerfile
  cmd/api/rest/handler.go
  cmd/core/api.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/main.go
Owners: @pirog-spb, @marknefedov

add config description and configurable interval
  cmd/config/config.go
  cmd/core/gtp_path_manager.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

add duration output to trace
  cmd/core/gtp_path_manager.go
Owners: @pirog-spb, @marknefedov

fix pdr deleteion from ebpf map and formatting
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix sequence number
  cmd/core/gtp_path_manager.go
Owners: @pirog-spb, @marknefedov

f
  docs/deployments/omec-gnbsim/values/gnbsim.yaml
Owners: @ewdss

improvements based on comments
  Dockerfile
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
Owners: @pirog-spb, @marknefedov

more debug output refactoring
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

feat: chart oai-gnb works well
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/cu.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/du.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/env.sh
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/gnb copy.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/gnb.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/gnb.conf.tmpl
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/oai.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/resources/rfsim.conf
  docs/deployments/open5gs-with-oai/charts/oai-gnb/templates/_helpers.tpl
  docs/deployments/open5gs-with-oai/charts/oai-gnb/templates/statefulset.yaml
  docs/deployments/open5gs-with-oai/charts/oai-gnb/values.yaml
  docs/deployments/open5gs-with-oai/values/gnb.yaml
Owners: @ewdss

fix: correct deletion of pdr from ebpf map (#486)
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

refactor install.md
  docs/install.md
Owners: @ewdss

refactor depoyments README.md
  docs/deployments/README.md
Owners: @ewdss

add stub links to docker-compose examples
  docs/deployments/README.md
Owners: @ewdss

Update main README.md
  README.md
Owners: @ewdss

Update install.md
  docs/install.md
Owners: @ewdss

Update README.md
  docs/deployments/README.md
Owners: @ewdss

Add routing notes in k8s install.md
  docs/install.md
Owners: @ewdss

f
  docs/deployments/open5gs-with-oai/charts/oai-gnb/templates/statefulset.yaml
  docs/deployments/open5gs-with-oai/charts/oai-gnb/values.yaml
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/cu.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/du.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/env.sh
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/gnb copy.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/gnb.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/gnb.conf.tmpl
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/oai.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/rfsim.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue 2.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue.conf
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/resources/ue.conf.tmpl
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/templates/_helpers.tpl
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/templates/configmap.yaml
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/templates/deployment.yaml
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/values.yaml
  docs/deployments/open5gs-with-oai/values/gnb.yaml
  docs/deployments/open5gs-with-oai/values/ue.yaml
Owners: @ewdss

f
  docs/deployments/open5gs-with-oai/Makefile
  docs/deployments/open5gs-with-oai/README.md
  docs/deployments/open5gs-with-oai/charts/oai-nr-ue/values.yaml
  docs/deployments/open5gs-with-oai/values/main.yaml
  docs/deployments/open5gs-with-oai/values/old/gnb.yaml
  docs/deployments/open5gs-with-oai/values/old/ue.yaml
  docs/deployments/open5gs-with-oai/values/upf.yaml
Owners: @ewdss

fix FTEID flags in CreatedPDR
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

feat: fteid
  cmd/core/pdr.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sdf_filter_parser.go
  cmd/ebpf/pdr.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

improvements based on comments
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov
