Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

use single ebpf map definition style
  cmd/eupf/xdp/program_array.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/statistics.h
Owners: @pirog-spb, @marknefedov

comment refactor
  cmd/eupf/xdp/n3_entrypoint.c
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/program_array.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/qer_program.c
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/gtpu.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

refactor ebpf map size constants
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

ip csum refactor
  cmd/eupf/xdp/utils/common.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

more refactoring
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

fix: Typo in conflict resolution
  cmd/eupf/config/config.go
Owners: @pirog-spb, @marknefedov

refactor: review go code (#262)
  cmd/eupf/api.go
  cmd/eupf/config.go
  cmd/eupf/config/config.go
  cmd/eupf/config/startup.go
  cmd/eupf/main.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_handlers.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add license headers
  cmd/eupf/xdp/far_program.c
  cmd/eupf/xdp/n3_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
  cmd/eupf/xdp/qer_program.c
  cmd/eupf/xdp/upf_program.c
Owners: @pirog-spb, @marknefedov

refactor: ebpf code full review part 2 (#263)
  cmd/eupf/xdp/far_program.c
  cmd/eupf/xdp/n3_entrypoint.c
  cmd/eupf/xdp/n6_entrypoint.c
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/program_array.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/qer_program.c
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/upf_program.c
  cmd/eupf/xdp/utils/common.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/gtpu.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fix: conflicts
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

fix add gtp header method
  cmd/eupf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

add license header everywhere
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/program_array.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/common.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/gtpu.h
  cmd/eupf/xdp/utils/packet_context.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

gtp utils refactor
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

add simple tests
  cmd/eupf/ebpf_test.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

more refactoring
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/qer_program.c
  cmd/eupf/xdp/statistics.h
Owners: @pirog-spb, @marknefedov

remove unnecessary code for ip csum calc
  cmd/eupf/xdp/utils/csum.h
Owners: @pirog-spb, @marknefedov

improve comments about verifier troubles
  cmd/eupf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

fix linter warning
  cmd/eupf/ebpf_test.go
Owners: @pirog-spb, @marknefedov

fix error
  cmd/eupf/ebpf_test.go
Owners: @pirog-spb, @marknefedov

run tests as root, required for resource increase.
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

Add sudo for test run in test.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

refactor: rename ebpf maps resize function
  cmd/eupf/ebpf_objects.go
  cmd/eupf/main.go
Owners: @pirog-spb, @marknefedov

Configure ebpf maps size (#183)
  cmd/eupf/config/config.go
  cmd/eupf/ebpf_objects.go
  cmd/eupf/ebpf_utils.go
  cmd/eupf/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

try to fix permdenied error
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

test: add basic ebpf entrypoint tests (#273)
  .github/workflows/test.yml
  cmd/eupf/ebpf_test.go
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/qer_program.c
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
  go.mod
  go.sum
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

refactor: ebpf code full review part 3 (#276)
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/program_array.h
  cmd/eupf/xdp/qer.h
  cmd/eupf/xdp/statistics.h
  cmd/eupf/xdp/utils/common.h
  cmd/eupf/xdp/utils/csum.h
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/gtpu.h
  cmd/eupf/xdp/utils/packet_context.h
  cmd/eupf/xdp/utils/parsers.h
  cmd/eupf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

fix: change helm delete to helm uninstall
  docs/install.md
Owners: @ewdss

docs: info about kernel version
  docs/install.md
Owners: @ewdss

f
  docs/install.md
Owners: @ewdss

remove __attribute_maybe_unused__
  cmd/eupf/xdp/qer_program.c
Owners: @pirog-spb, @marknefedov

refactor: deployment review (#277)
  docs/install.md
Owners: @ewdss

more gtp utils refactoring
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

light entrypoint refactoring
  cmd/eupf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

refactor: ebpf gtp utils and parsers refactoring (#284)
  cmd/eupf/xdp/n3n6_entrypoint.c
  cmd/eupf/xdp/utils/gtp_utils.h
  cmd/eupf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

fix: Update session IE, not replace them.
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

docker run --privileged option is necessary
  README.md
Owners: @ewdss

use define instead of enum
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

refactor: add getters to session
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

packages update
  cmd/eupf/pfcp_session_handlers.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

Extract duplicated code to method.
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
