Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

Remove duplicated code (merge error)
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

refactor: ebpf - use define instead of enum (#289)
  cmd/eupf/xdp/pdr.h
  cmd/eupf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

Remove more code duplication
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix: Update session's IEs, not replace them (#288)
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

feat: Add id tracker, switch ebpf maps to global identifiers.
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

add note: Linux Kernel 5.15.0-25-generic is the minimum
  README.md
Owners: @ewdss

docs: update picts
  README.md
  docs/pictures/eupf-arch.png
  docs/pictures/eupf.png
Owners: @ewdss

fix pictures
  docs/pictures/eupf-arch.png
  docs/pictures/eupf.png
Owners: @ewdss

Process Create IE in session modification, Extract Qer struct population.
  cmd/eupf/ebpf_objects.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

Revert
  cmd/eupf/ebpf_objects.go
  cmd/eupf/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

Checkpoint 1
  cmd/eupf/ebpf_objects.go
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

Deps update
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

review changes
  cmd/eupf/ebpf_objects.go
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/main.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

feat: Add id tracker, switch ebpf maps to global identifiers. (#290)
  cmd/eupf/ebpf_objects.go
  cmd/eupf/ebpf_pdr.go
  cmd/eupf/main.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_session_handlers.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

docs: update aritechure pictures in README (#292)
  README.md
  docs/pictures/eupf-arch.png
  docs/pictures/eupf.png
Owners: @ewdss

docker set minimum access capability --cap-add with description
  README.md
Owners: @ewdss

doc: update params in quick start guide (#291)
  README.md
Owners: @ewdss

--cap-add SYS_ADMIN is enought access capability
  README.md
Owners: @ewdss

update README
  README.md
  docs/pictures/eupf-arch.png
  docs/pictures/eupf.png
Owners: @ewdss

more updates
  README.md
Owners: @ewdss

doc: cosmetic update of README (#295)
  README.md
  docs/pictures/eupf-arch.png
  docs/pictures/eupf.png
Owners: @ewdss

fix: update trivyignores
  .github/workflows/trivy.yml
  .trivyignore
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

Typo in the README.md
  README.md
Owners: @ewdss

Add seid logging.
  cmd/eupf/display_utils.go
Owners: @pirog-spb, @marknefedov

Add test
  cmd/eupf/ebpf_objects_test.go
Owners: @pirog-spb, @marknefedov

Docker delve for debug
  Dockerfile
Owners: @pirog-spb, @marknefedov

ENTRYPOINT
  Dockerfile
Owners: @pirog-spb, @marknefedov

ENTRYPOINT update
  Dockerfile
Owners: @pirog-spb, @marknefedov

doc: update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @mbaran0v, @PapaySail

doc: fix typo in the README.md (#297)
  README.md
Owners: @ewdss

f
  .trivyignore
Owners: @pirog-spb, @marknefedov

Experiments 2
  cmd/eupf/display_utils.go
  cmd/eupf/ebpf_objects_test.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

move logging.
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

add light fix and test
  cmd/eupf/api.go
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/pfcp_session_handlers_test.go
  cmd/eupf/pfcp_session_test.go
Owners: @pirog-spb, @marknefedov

more tests
  cmd/eupf/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

more tests
  cmd/eupf/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

more tests
  cmd/eupf/ie_overwrite_test.go
Owners: @pirog-spb, @marknefedov

restore swagger
  cmd/eupf/api.go
Owners: @pirog-spb, @marknefedov

split into packages and bug fix hopes.
  cmd/eupf/api.go
  cmd/eupf/association.go
  cmd/eupf/ebpf/ebpf_objects.go
  cmd/eupf/ebpf/ebpf_pdr.go
  cmd/eupf/ebpf/ebpf_stats.go
  cmd/eupf/ebpf/ebpf_test.go
  cmd/eupf/ebpf/ebpf_utils.go
  cmd/eupf/ebpf/id_tracker.go
  cmd/eupf/ebpf/xdp/far_program.c
  cmd/eupf/ebpf/xdp/n3_entrypoint.c
  cmd/eupf/ebpf/xdp/n3n6_entrypoint.c
  cmd/eupf/ebpf/xdp/n6_entrypoint.c
  cmd/eupf/ebpf/xdp/pdr.h
  cmd/eupf/ebpf/xdp/program_array.h
  cmd/eupf/ebpf/xdp/qer.h
  cmd/eupf/ebpf/xdp/qer_program.c
  cmd/eupf/ebpf/xdp/statistics.h
  cmd/eupf/ebpf/xdp/upf_program.c
  cmd/eupf/ebpf/xdp/utils/common.h
  cmd/eupf/ebpf/xdp/utils/csum.h
  cmd/eupf/ebpf/xdp/utils/gtp_utils.h
  cmd/eupf/ebpf/xdp/utils/gtpu.h
  cmd/eupf/ebpf/xdp/utils/packet_context.h
  cmd/eupf/ebpf/xdp/utils/parsers.h
  cmd/eupf/ebpf/xdp/utils/routing.h
  cmd/eupf/ie_overwrite_test.go
  cmd/eupf/main.go
  cmd/eupf/metrics.go
  cmd/eupf/pfcp_connection.go
  cmd/eupf/pfcp_handlers.go
  cmd/eupf/pfcp_session_handlers.go
  cmd/eupf/pfcp_session_test.go
  cmd/eupf/session.go
Owners: @pirog-spb, @marknefedov

split into packages and bug fix hopes.
  cmd/eupf/api.go
  cmd/eupf/main.go
  cmd/eupf/metrics/metrics.go
  cmd/eupf/pfcp_handlers.go
  cmd/eupf/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
