Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

fix deploy open5gs-compose #547 (#548)
  docs/deployments/open5gs-compose/README.md
  docs/deployments/open5gs-compose/docker-compose.ue2.yaml
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
Owners: @ewdss

ports correction
  docs/install.md
Owners: @ewdss

fixes for NetworkAttachmentDefinition
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/README.md
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/free5gc-with-bgp/manifests/netad-ueransim.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/free5gc-with-bgp/values/ueransim.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
Owners: @ewdss

Resolve comments * Copy-past typo in comment * UInt64 not needed, tags are UInt32
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

add missed helm release to `make clean`
  docs/deployments/free5gc-ulcl/Makefile
Owners: @ewdss

fix free5gculcl: add `gtp_peer` to config
  docs/deployments/free5gc-ulcl/eupf-b.yaml
Owners: @ewdss

Forwarding policy that refer to a SFC ID are base64 encoded
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix commit & image tags for oai-nfapi-sim-compose
  docs/deployments/oai-nfapi-sim-compose/README.md
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
  docs/deployments/oai-nfapi-sim-compose/nat/busy-poll.sh
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
Owners: @ewdss

srsran-gnb: changed image tag to eupf:main doc: corrected command to exec shell in UE pod
  docs/deployments/srsran-gnb/README.md
  docs/deployments/srsran-gnb/values/eupf.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
Owners: @ewdss

docs: ports correction in install.md docker-compose templete (#550)
  docs/install.md
Owners: @ewdss

use 1.22.4 golang version
  Dockerfile
  go.mod
Owners: @pirog-spb, @marknefedov

fix: use 1.22.4 golang version (#554)
  Dockerfile
  go.mod
Owners: @pirog-spb, @marknefedov

use tags instead of revision
  docs/deployments/oai-nfapi-sim-compose/README.md
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
Owners: @ewdss

use kustomize to delete odd default routes
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/free5gc-with-bgp/kustomize/kustomization.yaml
  docs/deployments/free5gc-with-bgp/kustomize/kustomize.sh
  docs/deployments/free5gc-with-bgp/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-with-bgp/manifests/netad-ueransim.yaml
Owners: @ewdss

fix errors & use kustomize for free5gc-ulcl too
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/README.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/global.yaml
  docs/deployments/free5gc-ulcl/kustomize/kustomization.yaml
  docs/deployments/free5gc-ulcl/kustomize/kustomize.sh
  docs/deployments/free5gc-ulcl/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-ulcl/netad-ueransim.yaml
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/free5gc-with-bgp/values/ueransim.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
Owners: @ewdss

eth0 -> ens3
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/global.yaml
  docs/deployments/free5gc-ulcl/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-with-bgp/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/free5gc-with-bgp/values/global.yaml
  docs/deployments/free5gc-with-bgp/values/ueransim.yaml
Owners: @ewdss

fix deploy
  docs/deployments/free5gc-ulcl/kustomize/kustomize.sh
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/kustomize/kustomize.sh
Owners: @ewdss

deploy: remove fake routes from GnB's NetworkAttachmentDefinition in free5gc deployments (#551)
  docs/deployments/free5gc-ulcl/Makefile
  docs/deployments/free5gc-ulcl/README.md
  docs/deployments/free5gc-ulcl/eupf-b.yaml
  docs/deployments/free5gc-ulcl/kustomize/kustomization.yaml
  docs/deployments/free5gc-ulcl/kustomize/kustomize.sh
  docs/deployments/free5gc-ulcl/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-ulcl/netad-ueransim.yaml
  docs/deployments/free5gc-with-bgp/Makefile
  docs/deployments/free5gc-with-bgp/README.md
  docs/deployments/free5gc-with-bgp/kustomize/kustomization.yaml
  docs/deployments/free5gc-with-bgp/kustomize/kustomize.sh
  docs/deployments/free5gc-with-bgp/kustomize/patch_rm_default_route_from_nad.yaml
  docs/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/deployments/free5gc-with-bgp/values/global.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
Owners: @ewdss

fix space problem in deployment commands
  README.md
Owners: @ewdss

docs: fix space problem in deployment commands in Readme.md (#559)
  README.md
Owners: @ewdss

Update README.md
  README.md
Owners: @ewdss

refactor and tests
  cmd/core/config_edit.go
  cmd/core/display_utils.go
  cmd/core/gtp_path_manager.go
  cmd/core/logger.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_parse_test.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/sdf_filter_parser.go
Owners: @pirog-spb, @marknefedov

fix compilation error
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

refactoring
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_path_manager.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix tests
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

decrease UPFunctionFeatures len
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

fix featureOctets initialization
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

add huawei ies
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

huawei revers
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

fix FQDN encoding in NodeID
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

micro fix
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

refactor and simplify
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_path_manager.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

add sxa and sxb connection
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix sxb initialization
  cmd/main.go
Owners: @pirog-spb, @marknefedov

remove unnecessary code
  cmd/config/config.go
  cmd/core/pfcp_connection.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

feat: UP initiated association setup (#497)
  cmd/config/config.go
  cmd/core/ie_overwrite_test.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_path_manager.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/main.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

add Metric IE into HB request
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

add Metric IE into HR request
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

add Association Update handler
  cmd/core/display_utils.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

use custom pfcp forwarding params
  cmd/core/display_utils.go
  cmd/core/huawei_utils.go
  cmd/core/huawei_utils_test.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail
