Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

docs: add ulimit argument in example of docker run command
  README.md
Owners: @ewdss

Update README.md
  README.md
Owners: @ewdss

add multilanguage description
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

fix
  README.md
Owners: @ewdss

docs: update manual build doc (#532)
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

simplify quickstart command for running eupf and add note about bpffs
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

docs: simplify quickstart command for running eupf and add note about bpffs (#533)
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

ignore SDF Filter with empty Flow Description
  cmd/core/pdr_creation_context.go
  cmd/core/pdr_creation_context_test.go
Owners: @pirog-spb, @marknefedov

add more unitests
  cmd/core/pdr_creation_context_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
Owners: @pirog-spb, @marknefedov

add NodeID to every Session Establishment Response
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix examples in readme
  README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

add node id to session modification and session deletion requests
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix: ignore SDF Filter with empty Flow Description (#538)
  cmd/core/pdr_creation_context.go
  cmd/core/pdr_creation_context_test.go
  cmd/core/sdf_filter_parser.go
  cmd/core/sdf_filter_parser_test.go
Owners: @pirog-spb, @marknefedov

fix: add NodeID to every Session Establishment/Modification/Deletion Response (#541)
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

Revert GTP path management config description
  docs/Configuration.md
Owners: @ewdss

Update Configuration.md
  docs/docs-ru_ru/Configuration.md
Owners: @ewdss

Update Configuration.md
  docs/Configuration.md
Owners: @ewdss

Update Configuration.md
  docs/docs-ru_ru/Configuration.md
Owners: @ewdss

doc: revert GTP path management config description (#544)
  docs/Configuration.md
  docs/docs-ru_ru/Configuration.md
Owners: @ewdss

free5gc-ulcl translated
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/Makefile
  docs/docs-ru_ru/deployments/free5gc-ulcl/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl/eupf-b.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/free5gc.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/global.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/netad-ueransim.yaml
  docs/docs-ru_ru/deployments/free5gc-ulcl/upf.yaml
Owners: @ewdss

free5gc-with-bgp translated
  docs/docs-ru_ru/deployments/free5gc-with-bgp/Makefile
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/manifests/calico-bgp.yaml
  docs/docs-ru_ru/deployments/free5gc-with-bgp/manifests/calico-pools.yaml
  docs/docs-ru_ru/deployments/free5gc-with-bgp/schema.png
  docs/docs-ru_ru/deployments/free5gc-with-bgp/values/eupf.yaml
  docs/docs-ru_ru/deployments/free5gc-with-bgp/values/free5gc.yaml
  docs/docs-ru_ru/deployments/free5gc-with-bgp/values/global.yaml
  docs/docs-ru_ru/deployments/free5gc-with-bgp/values/ueransim.yaml
Owners: @ewdss

oai translated
  docs/docs-ru_ru/deployments/oai/Makefile
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/.helmignore
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/Chart.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/resources/gnb.conf.tmpl
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/templates/_helpers.tpl
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/templates/configmap.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/templates/deployment.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/templates/service.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/templates/serviceaccount.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-gnb/values.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/.helmignore
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/Chart.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/resources/ue.conf.tmpl
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/templates/_helpers.tpl
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/templates/configmap.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/templates/deployment.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/templates/serviceaccount.yaml
  docs/docs-ru_ru/deployments/oai/charts/oai-nr-ue/values.yaml
  docs/docs-ru_ru/deployments/oai/values/gnb.yaml
  docs/docs-ru_ru/deployments/oai/values/ue.yaml
Owners: @ewdss

oai-nfapi-sim-compose translated
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/README.md
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/eupf/entrypoint.sh
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/nat/Dockerfile
  docs/docs-ru_ru/deployments/oai-nfapi-sim-compose/nat/busy-poll.sh
Owners: @ewdss

open5gs-with-bgp translated
  docs/docs-ru_ru/deployments/open5gs-with-bgp/Makefile
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/manifests/calico-bgp.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/manifests/calico-pools.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/manifests/smf-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/values/eupf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/values/gnb.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/values/main.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/values/smf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp/values/ue.yaml
Owners: @ewdss

open5gs-with-bgp-and-slices translated
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/Makefile
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/manifests/calico-bgp.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/manifests/calico-pools.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/manifests/smf-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/manifests/smf2-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/eupf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/eupf2.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/gnb.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/main.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/smf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/smf2.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/ue.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/values/ue2.yaml
Owners: @ewdss

open5gs-with-bgp-and-slices-UE2pdu translated
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-bgp.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/calico-pools.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/smf2-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/manifests/ue2-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/eupf2.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/gnb.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/main.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/smf2.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue.yaml
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/values/ue2.yaml
Owners: @ewdss

srsran-srs-5g translated
  docs/docs-ru_ru/deployments/srsran-gnb/Makefile
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/manifests/calico-bgp.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/manifests/calico-pools.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/manifests/smf-configmap.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/values/eupf.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/values/main.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/values/smf.yaml
  docs/docs-ru_ru/deployments/srsran-gnb/values/srsue-gnb.yaml
Owners: @ewdss

open5gs-with-scaling-eupf translated
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/Makefile
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/manifests/smf-configmap.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/eupf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/gnb.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/main.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/smf.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/ue1.yaml
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/values/ue2.yaml
Owners: @ewdss

refactor
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
Owners: @ewdss

import and translate open5gs-compose deployment
  docs/deployments/README.md
  docs/deployments/open5gs-compose/.DS_Store
  docs/deployments/open5gs-compose/.deploy/docker/amf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/ausf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/bsf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/iperf-test.sh
  docs/deployments/open5gs-compose/.deploy/docker/mongodb/init.js
  docs/deployments/open5gs-compose/.deploy/docker/nrf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/nssf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/pcf.yaml
  docs/deployments/open5gs-compose/.deploy/docker/smf1.yaml
  docs/deployments/open5gs-compose/.deploy/docker/smf2.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udm.yaml
  docs/deployments/open5gs-compose/.deploy/docker/udr.yaml
  docs/deployments/open5gs-compose/.deploy/docker/upf.yaml
  docs/deployments/open5gs-compose/.env
  docs/deployments/open5gs-compose/.gitignore
  docs/deployments/open5gs-compose/Makefile
  docs/deployments/open5gs-compose/README.md
  docs/deployments/open5gs-compose/docker-compose.core.yaml
  docs/deployments/open5gs-compose/docker-compose.eupf.yaml
  docs/deployments/open5gs-compose/docker-compose.gnb.yaml
  docs/deployments/open5gs-compose/docker-compose.infra.yaml
  docs/deployments/open5gs-compose/docker-compose.ue1.yaml
  docs/deployments/open5gs-compose/docker-compose.ue2.yaml
  docs/deployments/open5gs-compose/fw.sh
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/open5gs-compose/.DS_Store
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
Owners: @ewdss, @mbaran0v, @PapaySail

update free5gc-compose and free5gc-ulcl-compose
  docs/docs-ru_ru/deployments/README.md
  docs/docs-ru_ru/deployments/free5gc-compose/README.md
  docs/docs-ru_ru/deployments/free5gc-ulcl-compose/README.md
Owners: @ewdss

link to deploymets
  docs/docs-ru_ru/readme.md
Owners: @ewdss

typos correction
  docs/docs-ru_ru/deployments/free5gc-with-bgp/README.md
  docs/docs-ru_ru/deployments/oai/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/readme.md
Owners: @ewdss

update links to gradiamt helm chart repo
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/README.md
  docs/deployments/open5gs-with-scaling-eupf/README.md
  docs/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
Owners: @ewdss

fix helm repo for openverso
  docs/deployments/open5gs-with-bgp/Makefile
Owners: @ewdss

fix gradiant repo usage
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices/Makefile
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/Makefile
  docs/deployments/open5gs-with-bgp/README.md
  docs/deployments/open5gs-with-scaling-eupf/Makefile
  docs/deployments/open5gs-with-scaling-eupf/README.md
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/load-testing.md
Owners: @ewdss

fix: use new gradiant repo links (#546)
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/Makefile
  docs/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/deployments/open5gs-with-bgp-and-slices/Makefile
  docs/deployments/open5gs-with-bgp-and-slices/README.md
  docs/deployments/open5gs-with-bgp/Makefile
  docs/deployments/open5gs-with-bgp/README.md
  docs/deployments/open5gs-with-scaling-eupf/Makefile
  docs/deployments/open5gs-with-scaling-eupf/README.md
  docs/deployments/srsran-gnb/Makefile
  docs/deployments/srsran-gnb/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices-UE2pdu/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp-and-slices/README.md
  docs/docs-ru_ru/deployments/open5gs-with-bgp/README.md
  docs/docs-ru_ru/deployments/open5gs-with-scaling-eupf/README.md
  docs/docs-ru_ru/deployments/srsran-gnb/README.md
  docs/load-testing.md
Owners: @ewdss

Add support for traffic steering through NSH
  cmd/core/display_utils.go
  cmd/core/pfcp_session_handlers.go
  cmd/ebpf/pdr.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/nsh.h
  cmd/ebpf/xdp/utils/nsh_utils.h
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
Owners: @pirog-spb, @marknefedov

fix docker-compose.ue2.yaml
  docs/deployments/open5gs-compose/docker-compose.ue2.yaml
Owners: @ewdss

turn off tx offload @ new bridge interface
  docs/deployments/open5gs-compose/README.md
  docs/docs-ru_ru/deployments/open5gs-compose/README.md
Owners: @ewdss
