Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

refactor(pfcp): NodeID behind profile
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): Session Report Release vendor IE behind profile
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_profile_test.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): URR sequence numbering behind profile
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_profile.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

test: profile strategy unit tests
  cmd/core/pfcp_profile_test.go
Owners: @pirog-spb, @marknefedov

feat(pfcp): make Sxa/Sxb connections optional
  cmd/config/config.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

ci: fix llvm-strip missing in build pipeline
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fix(test): set DefaultProfile in existing PfcpConnection test fixtures
  cmd/core/ie_overwrite_test.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

test(pfcp): use valid address in TestSendHeartbeatRequestProfileMetricIE
  cmd/core/pfcp_handlers_profile_test.go
Owners: @pirog-spb, @marknefedov

test(pfcp): cover profile-dependent handlers with both profiles
  cmd/core/pfcp_handlers_profile_test.go
  cmd/core/pfcp_session_handlers_test.go
Owners: @pirog-spb, @marknefedov

ci: pin Go to 1.24 to fix golangci-lint typecheck
  .github/actions/raw-upf-presetup/action.yml
Owners: @mbaran0v, @PapaySail

test(ebpf): add non-Linux stub + fix tests for profile refactor
  cmd/core/pfcp_handlers_profile_test.go
  cmd/core/pfcp_profile_test.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/ebpf/stub_generated_nonlinux.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): extract build*IEs pure functions for testability
  cmd/core/pfcp_build_ie.go
  cmd/core/pfcp_build_ie_test.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

refactor(test): table-driven profile tests, dedupe fixtures
  cmd/core/pfcp_profile_test.go
Owners: @pirog-spb, @marknefedov

refactor(pfcp): extract buildSetupRequestIEs for connector testability
  cmd/core/pfcp_build_ie.go
  cmd/core/pfcp_build_ie_test.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

fix(core): emit Created PDR IE for IPv6 UE address
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

fix: always parse TCP header in order to SDF filters work (#606)
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix(core): recognize UEIPAddress in UpdatePDR (#591)
  cmd/core/pdr_creation_context.go
  cmd/core/pdr_creation_context_test.go
Owners: @pirog-spb, @marknefedov

refactor(xdp): rename GTPU[IPv4+TEID]->PDR map (#593)
  cmd/api/rest/pdr.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/ebpf/stub_generated_nonlinux.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
Owners: @pirog-spb, @marknefedov

add simple downlink rebalancing to secondary UPF
  cmd/config/config.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/routing.h
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix ue prefix matching
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add ipip encap tp send to secondary upf
  cmd/config/config.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix ebpf verifier
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix ebpf verifier
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix ebpf verifier
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

add ipip decap for redirected packets from the first upf
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/utils/packet_context.h
Owners: @pirog-spb, @marknefedov

chore(helm): bump the chart to eUPF 0.7.1
  .deploy/helm/eupf/Chart.yaml
Owners: @mbaran0v, @PapaySail

fix(config): guard rebalance setup against nil parse and invalid cidr
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix(xdp): drop redirected packets on session miss instead of pass
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

fix(xdp): overwrite ipip outer header when adding gtp encap in single adjust
  cmd/ebpf/xdp/utils/gtp_utils.h
Owners: @pirog-spb, @marknefedov

fix(xdp): disable unsupported ipv6-in-ipv4 branch in ipip encap
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

chore(helm): bump the chart to eUPF 0.7.1 (#646)
  .deploy/helm/eupf/Chart.yaml
Owners: @mbaran0v, @PapaySail

fix(xdp): rebalance downlink on stale idle session with non-forward far
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

ci: fix golangci-lint failing due to Go toolchain mismatch
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fix(helm): make default values produce a startable pod (#645)
  .deploy/helm/eupf/README.md
  .deploy/helm/eupf/templates/NOTES.txt
  .deploy/helm/eupf/templates/configmap.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/helpers/_pod.tpl
  .deploy/helm/eupf/templates/job.yaml
  .deploy/helm/eupf/templates/statefulset.yaml
  .deploy/helm/eupf/values.yaml
  .deploy/helm/values/dev.yaml
  .deploy/helm/values/test.yaml
Owners: @mbaran0v, @PapaySail

fix(core): always send PFCP responses; treat datapath delete ENOENT as success
  cmd/core/datapath_errors.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
Owners: @pirog-spb, @marknefedov

fix: satisfy golangci-lint v2 default checks
  cmd/api/rest/far_map.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/uplink_pdr.go
  cmd/core/config_edit.go
  cmd/core/display_utils.go
  cmd/core/gtp_path_manager.go
  cmd/core/ie_overwrite_test.go
  cmd/core/logger.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/sdf_filter_parser.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix incorrect conversion of an integer with architecture-dependent bit size from strconv.Atoi to a lower bit size type uint32 without an upper bound check
  cmd/api/rest/far_map.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/uplink_pdr.go
Owners: @pirog-spb, @marknefedov

ci: fix golangci-lint failing due to Go toolchain mismatch (#651)
  .github/actions/raw-upf-presetup/action.yml
  .github/workflows/test.yml
  cmd/api/rest/far_map.go
  cmd/api/rest/pfcp_sessions.go
  cmd/api/rest/qer_map.go
  cmd/api/rest/uplink_pdr.go
  cmd/core/config_edit.go
  cmd/core/display_utils.go
  cmd/core/gtp_path_manager.go
  cmd/core/ie_overwrite_test.go
  cmd/core/logger.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/sdf_filter_parser.go
  cmd/ebpf/objects.go
  cmd/ebpf/objects_test.go
  cmd/ebpf/pdr.go
  cmd/main.go
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov

fix(docker): move builder to bookworm, bump alpine runtime
  Dockerfile
Owners: @pirog-spb, @marknefedov

fix(docker): move builder to bookworm, bump alpine runtime (#652)
  Dockerfile
Owners: @pirog-spb, @marknefedov
