Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

improvements based on comments
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  docs/deployments/README.md
Owners: @ewdss

improvements based on comments
  Dockerfile
Owners: @pirog-spb, @marknefedov

improvements based on comments
  docs/Configuration.md
  docs/deployments/README.md
  docs/install.md
Owners: @ewdss

improvements based on comments
  .trivyignore
Owners: @pirog-spb, @marknefedov

improvements based on comments
  Dockerfile
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/node_association.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

feat: add recovery ts in association response (#504)
  cmd/core/pfcp_handlers.go
Owners: @pirog-spb, @marknefedov

add readme
  docs/deployments/oai-nfapi-sim-compose/README.md
Owners: @ewdss

‘apk add’ with ‘–no-cache’ to clean package cached data and reduce image size. To pass Trivy / scan-config
  docs/deployments/oai-nfapi-sim-compose/nat/Dockerfile
Owners: @ewdss

mention OAI at all start pages
  README.md
  docs/deployments/README.md
  docs/install.md
Owners: @ewdss

feat: oai core support (#490)
  README.md
  docs/deployments/README.md
  docs/deployments/oai-nfapi-sim-compose/README.md
  docs/deployments/oai-nfapi-sim-compose/docker-compose.override.yml
  docs/deployments/oai-nfapi-sim-compose/eupf/entrypoint.sh
  docs/deployments/oai-nfapi-sim-compose/nat/Dockerfile
  docs/deployments/oai-nfapi-sim-compose/nat/busy-poll.sh
  docs/install.md
Owners: @ewdss

f
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr_creation_context.go
  config.yml
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

improvements based on comments & pytest
  cmd/config/config.go
  cmd/core/pdr.go
  cmd/core/pdr_creation_context.go
  cmd/core/pfcp_session_handlers_test.go
  config.yml
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

cfg cli arg add --feature_ftup
  docs/Configuration.md
Owners: @ewdss

improvements based on comments
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

add missed links to compose deployments
  docs/deployments/README.md
Owners: @ewdss

change link to ulcl-configuration
  docs/deployments/README.md
Owners: @ewdss

deleted: zero_entrypoint.c n3_entrypoint.c n6_entrypoint.c qer_program.c far_program.c
  Dockerfile
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/far_program.c
  cmd/ebpf/xdp/n3_entrypoint.c
  cmd/ebpf/xdp/n6_entrypoint.c
  cmd/ebpf/xdp/program_array.h
  cmd/ebpf/xdp/qer_program.c
  cmd/ebpf/xdp/zero_entrypoint.c
Owners: @pirog-spb, @marknefedov

revert unchecked deletion
  cmd/ebpf/xdp/program_array.h
Owners: @pirog-spb, @marknefedov

api.go deleted, structures moved
  cmd/api/rest/far_map.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/stats.go
  cmd/api/rest/uplink_pdr.go
  cmd/core/api.go
Owners: @pirog-spb, @marknefedov

corrections
  cmd/api/rest/handler.go
  cmd/api/rest/stats.go
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3_entrypoint.c
  cmd/ebpf/xdp/n6_entrypoint.c
  cmd/ebpf/xdp/zero_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

fix
  cmd/config/config.go
  docs/Configuration.md
Owners: @pirog-spb, @marknefedov, @ewdss

improvements based on comments
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

add commands for configuring eupf via api
  docs/load-testing.md
Owners: @ewdss

improvements based on comments
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

deploy: 510 verify doc (#515)
  docs/Configuration.md
  docs/deployments/README.md
Owners: @ewdss

improvements based on comments
  cmd/config/config.go
  cmd/core/display_utils.go
  cmd/core/pdr.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

edits
  Dockerfile
  cmd/ebpf/objects.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

configuration
  docs/Configuration.md
Owners: @ewdss

docs: add commands for configuring eupf via api (#520)
  docs/load-testing.md
Owners: @ewdss

delete debug msg
  cmd/core/pfcp_path_manager.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

refactor: remove obsolete code (#516)
  cmd/api/rest/far_map.go
  cmd/api/rest/handler.go
  cmd/api/rest/pfcp_associations.go
  cmd/api/rest/stats.go
  cmd/api/rest/uplink_pdr.go
  cmd/core/api.go
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/far_program.c
  cmd/ebpf/xdp/qer_program.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/config/config.go
  cmd/core/pdr.go
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

improvements based on comments
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

setting the default value of teid_pool, depending on the value of the feaure_ftup flag
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov
