Repository edgecomllc/eupf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pirog-spb, @marknefedov, @ewdss, @mbaran0v, @PapaySail

.github/CODEOWNERS:

* @pirog-spb @marknefedov
README.md @ewdss
docs @ewdss
.deploy/ @mbaran0v @PapaySail
.github/ @mbaran0v @PapaySail

tests fix
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

tests fix
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

tests fix
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

renames
  cmd/eupf/ebpf/objects.go
  cmd/eupf/ebpf/pdr.go
  cmd/eupf/ebpf/stats.go
  cmd/eupf/ebpf/test.go
  cmd/eupf/ebpf/utils.go
Owners: @pirog-spb, @marknefedov

Rename gh actions job
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

update gitignore
  .gitignore
Owners: @pirog-spb, @marknefedov

move to outer folder
  Dockerfile
  cmd/config/config.go
  cmd/config/startup.go
  cmd/core/api.go
  cmd/core/display_utils.go
  cmd/core/ie_overwrite_test.go
  cmd/core/metrics.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/session.go
  cmd/core/sessions_ueip_bug_test.go
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
  cmd/ebpf/stats.go
  cmd/ebpf/test.go
  cmd/ebpf/utils.go
  cmd/ebpf/xdp/far_program.c
  cmd/ebpf/xdp/n3_entrypoint.c
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/program_array.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/qer_program.c
  cmd/ebpf/xdp/statistics.h
  cmd/ebpf/xdp/upf_program.c
  cmd/ebpf/xdp/utils/common.h
  cmd/ebpf/xdp/utils/csum.h
  cmd/ebpf/xdp/utils/gtp_utils.h
  cmd/ebpf/xdp/utils/gtpu.h
  cmd/ebpf/xdp/utils/packet_context.h
  cmd/ebpf/xdp/utils/parsers.h
  cmd/ebpf/xdp/utils/routing.h
  cmd/ebpf/xdp/zero_entrypoint.c
  cmd/main.go
Owners: @pirog-spb, @marknefedov

CamelCase
  cmd/core/api.go
  cmd/ebpf/objects.go
  cmd/ebpf/pdr.go
  cmd/ebpf/stats.go
  cmd/ebpf/test.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

update tests action
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

rename
  .github/workflows/test.yml
Owners: @mbaran0v, @PapaySail

fixes+IPv6
  docs/examples/free5gc/eupf-host-nat.yaml
  docs/examples/free5gc/free5gc-single.yaml
  docs/examples/free5gc/ueransim.yaml
  docs/examples/open5gs/eupf-host-nat.yaml
  docs/examples/open5gs/open5gs.yaml
Owners: @ewdss

fix: display TransportLevelMarking in json
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

formatting
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

f
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

fix: Display TransportLevelMarking in json (#320)
  cmd/ebpf/pdr.go
Owners: @pirog-spb, @marknefedov

add configurable cflags for ebpf program
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
Owners: @pirog-spb, @marknefedov

feat: add routing statistic and cache (#305)
  cmd/ebpf/objects.go
  cmd/ebpf/xdp/n3n6_entrypoint.c
  cmd/ebpf/xdp/pdr.h
  cmd/ebpf/xdp/qer.h
  cmd/ebpf/xdp/statistics.h
  cmd/ebpf/xdp/utils/routing.h
Owners: @pirog-spb, @marknefedov

ci: save xdp program after build, rename helm chart
  .deploy/helm/eupf/.helmignore
  .deploy/helm/eupf/Chart.yaml
  .deploy/helm/eupf/templates/NOTES.txt
  .deploy/helm/eupf/templates/configmap.yaml
  .deploy/helm/eupf/templates/deployment.yaml
  .deploy/helm/eupf/templates/helpers/_common.tpl
  .deploy/helm/eupf/templates/helpers/_helpers.tpl
  .deploy/helm/eupf/templates/helpers/_pod.tpl
  .deploy/helm/eupf/templates/helpers/extra.yaml
  .deploy/helm/eupf/templates/ingress.yaml
  .deploy/helm/eupf/templates/job.yaml
  .deploy/helm/eupf/templates/service.yaml
  .deploy/helm/eupf/templates/serviceaccount.yaml
  .deploy/helm/eupf/templates/servicemonitor.yaml
  .deploy/helm/eupf/values.yaml
  .deploy/helm/universal-chart/Chart.yaml
  .deploy/helm/values/dev.yaml
  .dockerignore
  .github/workflows/deploy-to-dev.yml
  .github/workflows/deploy.yml
  Dockerfile
  docs/examples/open5gs/eupf-container-nat.yaml
  docs/install.md
Owners: @mbaran0v, @PapaySail, @pirog-spb, @marknefedov, @ewdss

f
  Dockerfile
Owners: @pirog-spb, @marknefedov

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Owners: @mbaran0v, @PapaySail

Add config fields.
  cmd/config/config.go
Owners: @pirog-spb, @marknefedov

wip 1
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_handlers.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers.go
  cmd/core/session.go
  cmd/main.go
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/api.go
  go.mod
  go.sum
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/ie_overwrite_test.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
  cmd/core/pfcp_session_handlers_test.go
  cmd/core/sessions_ueip_bug_test.go
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/ie_overwrite_test.go
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

wip
  cmd/core/node_association.go
Owners: @pirog-spb, @marknefedov

Review changes
  cmd/config/config.go
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

Review changes
  cmd/core/pfcp_hearbeat.go
Owners: @pirog-spb, @marknefedov

Fix NodeId and PFCP IPv4 address not being used.
  cmd/config/config.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @mbaran0v, @PapaySail

error message
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

combine 25 and 26 lines
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

if association has already expired and deleted, nothing good will happen. ScheduleHeartbeatRequest belong to accosiation type
  cmd/core/node_association.go
  cmd/core/pfcp_connection.go
Owners: @pirog-spb, @marknefedov

First attempt at PyTest
  .gitignore
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

Add modification
  pytest/test_session.py
Owners: @pirog-spb, @marknefedov

print all qers in pdr
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov

print all qers in pdr
  cmd/core/display_utils.go
Owners: @pirog-spb, @marknefedov

add 0-rate clarifying comment
  cmd/ebpf/xdp/qer.h
Owners: @pirog-spb, @marknefedov
